[2016-08-21 08:30] therahulprasad opened #1 "Don't commit .idea file"
Its your project file it should not be commited to github

[2016-08-21 09:59] janishar commented on #1
There were few files of this dir not added to .gitignore as it's generated by the android studios. I have removed them now. THANKS for pointing it out.

[2016-08-21 09:59] #1 closed

[2016-09-28 06:09] biskit opened #3 "@Click annotation"
if i set @Click on profileImageView (from your eg) it does not receive any of onSwipe* events!
how does one go about it?

[2016-09-28 06:51] janishar commented on #3
The thing is that the view is architectured in a way that their is a main frame that holds all the other views provided by xml layout. And the touch listener is attached with the main frame. And the frame passes the touch event to child views if it's beyond the threshold of a click. This is done for not blocking event passing so a child view can implement onclick and other listeners. So, I don't t

[2016-09-28 07:00] biskit commented on #3
sorry for not being clear. let's take your TinderCard as example. You have @Swipe* events implemented here. what I'm asking is in the same class if I implement @Click(R.id.profileImageView) the rest of the events (@Swipe*) do not come to R.id.profileImageView. It however does come to R.id.nameAgeTxt or R.id.locationNameTxt.

my question is how do I get @Click and @Swipe* on R.id.profileImageView.

[2016-09-28 07:25] janishar commented on #3
The profileImageView along with nameAgeTxt and locationNameTxt are child views of a frame view that is created programmatically by the library. frame has a OnTouchListener and it passes the touch event to its child views if the swipe is small.

https://developer.android.com/training/gestures/viewgroup.html

In this case if u attach @Click to profileImageView then it will consume the touch events a

[2016-09-28 07:32] biskit commented on #3
thanks for explanation. makes sense. back to your TinderCard example (and as in Tinder) if I want to get details, the typical way is to click on the card. How would you implement it here?

[2016-09-28 07:32] janishar commented on #3
he profileImageView along with nameAgeTxt and locationNameTxt are child views of a frame view that is created programmatically by the library. frame has a OnTouchListener and it passes the touch event to its child views if the swipe is small.

https://developer.android.com/training/gestures/viewgroup.html

In this case if u attach @Click to profileImageView then it will consume the touch events an

[2016-09-28 07:33] janishar commented on #3
If this is your use case let me think about it and I will get back to you.

[2016-09-29 03:43] biskit commented on #3
Any news on update? I like everything else about it. Hope you can find a
design for it :)

On Wednesday, September 28, 2016, Ali <notifications@github.com> wrote:

[2016-09-29 04:03] janishar commented on #3
Hey, yup I hv written an update wit  the click and swipe working together. There is a small issue I hv to solve.. the view is responding to swipe in alternate swipes n click working always. Let me solve this issue then will provide a release

[2016-09-29 11:04] janishar commented on #3
@biskit I have fixed the library to listen to both click and swipe in version 0.1.4

[2016-09-29 11:29] biskit commented on #3
awesome, let me pull and build. will let you know shortly! thanks a bunch
man!

On Thu, Sep 29, 2016 at 4:34 PM, Ali <notifications@github.com> wrote:

[2016-09-29 11:39] biskit commented on #3
looks great! can receive @Click and @Swipe* in my Card class. 👍
will let you know if i face other issues!

cheers

[2016-09-29 11:39] #3 closed

[2016-09-29 11:44] biskit opened #4 "Intermediate callback before @SwipeIn / @SwipeOut"
is it possible to get a callback before @SwipeIn, @SwipeOut event completes which will return a boolean. True completes the operation and False cancels the operation (ie puts the card back on the stack where it was).
you can dispatch the @SwipeIn and @SwipeOut after that.

 ie. @SwipeIn generates a @SwipeInConfirm and @SwipeIn if @SwipeInConfirm returns True.

why do I need it? I want to be able t

[2016-09-29 11:44] janishar commented on #3
@biskit please use 0.1.5

[2016-09-29 11:47] biskit commented on #3
ok, no problem.

On Thu, Sep 29, 2016 at 5:14 PM, Ali <notifications@github.com> wrote:

[2016-09-29 11:57] janishar commented on #4
Okay what I will do is provide a putback method so the card can be put back if swiped.  The confirmation dialog could be shown when onSwipedOut or onSwipeIn is called and then if required putback can be called. I am a bit busy with my new library JPost once I m free in a day or two will work on it.

[2016-09-29 12:47] biskit opened #5 "Continuation to #3"
the fixes seem to send @Click to the TinderCard class. However, the click listeners in the MainActivity.java (for eg: R.id.acceptBtn, R.id.rejectBtn) do not work any more!

I have not exactly tested with the above classes but have code that parallel's that. So, I'm guessing the issue exists here too. My code does not receive the click events for buttons sitting in the parent frame.

[2016-09-29 13:04] janishar commented on #5
If you are using the tinderswipe example then its happening because in the demo project the frame resizes on the phone having navigation bar making the frame to come on top of the main activity bottom buttons. Provide a bottom margin to the swipeplacehoherview i suppose it will fix it

[2016-09-29 13:05] janishar commented on #5
https://developer.android.com/training/system-ui/navigation.html

[2016-09-29 13:14] biskit commented on #5
preliminary testing says that could be the problem. let me do a little more
before i close it.

thanks!

On Thu, Sep 29, 2016 at 6:35 PM, Ali <notifications@github.com> wrote:

[2016-09-30 06:32] biskit commented on #5
giving it a bottom margin to unhide controls solves the problem.

[2016-09-30 06:32] #5 closed

[2016-09-30 06:33] biskit commented on #4
lets try that to see how it works. it'll be better if this intermediate action happens first before the card is shifted, but what you say may work, though a little confusing. it can be handled with some smart graying of the background.

[2016-10-04 16:37] jjhesk opened #8 "latest recyclerview"
any plans to support the latest recyclerview support library?

[2016-10-04 16:45] janishar commented on #8
Yes I was thinking about it but since my project using this library was on older version so dint do it.
I will try bring new release with the latest recyclerview version  tomorrow.

[2016-10-05 10:24] janishar commented on #8
@jjhesk Please use the PlaceHolderView version  0.1.6 for Support RecyclerView v7:24.+

[2016-10-05 10:25] #8 closed

[2016-10-05 10:54] CRUSADER1912 opened #9 "Implementation for Endless Adapter be implemented?"
The PlaceHolderView really looks promising. Is there a way we can effortlessly implement endless adapter kinda functionality. Say, I have thousands of itemsData to be displayed and I want to display them in sets of 10 at a time. I need a call back to LoadMore once I reach the last item.
I hope you get the idea.
Thanks

[2016-10-05 11:11] janishar commented on #9
What do you suggest? Like it should have a callback when the scroll reaches the last item of the set and then add more item with loading spinner?

[2016-10-05 12:06] CRUSADER1912 commented on #9
Yup, exactly what you said. When the scroll reaches the last item show the loading spinner till we get next set of data. Most importantly a callback which indicates that this scenario is reached, so that we implement logic to fetch next set of data.. In most cases from Api request.

[2016-10-05 12:08] janishar commented on #9
okay working on it

[2016-10-06 08:04] janishar commented on #9
@CRUSADER1912 I have written InfinitePlaceHolderView class to do the loadmore style of infinite loading. use 0.2.1 version for this. Readme provides the overview and you can find the implementation example here : https://github.com/janishar/Tutorials/tree/master/InfiniteList

[2016-10-06 08:14] CRUSADER1912 commented on #9
Well that was quick...  :+1:
I will surely give it a try.
Cheers.

[2016-10-06 08:21] #9 closed

[2016-10-06 08:51] jakelaurieNZ opened #10 "Enter/Exit animation for swipeInMsgLayout/SwipeOutMsgLayout"
simple fade in animation based on the swipe offset for the swipein/swipeout layout would be really nice.

[2016-10-06 09:10] janishar commented on #10
Thanks for the suggestion. I think it may enhance the swiping state. Let me think about it.

[2016-10-08 10:15] janishar commented on #5
@biskit please refer this
[Modifying Android Tinder Swipe View Example to support auto resize](https://medium.com/@janishar.ali/modifying-android-tinder-swipe-view-example-to-support-auto-resize-94f9c64f641e#.g5so6zi4s) to get a streamline solution to the card auto resizing and button overlap solution

[2016-10-08 15:55] biskit commented on #5
awesome thanks! and a needed feature.

however, is it possible that you support compile '
com.android.support:recyclerview-v7:23.+' instead of 24+?

i'm stuck with doing everything at SDK level 23 and build level 23.0.2 at
the moment. this puts a huge upgrade on me.

thanks!

On Sat, Oct 8, 2016 at 5:15 AM, Ali <notifications@github.com> wrote:

[2016-10-08 17:55] biskit commented on #5
bit the bullet and got on with it :-) looks good man, though I had to massage the width to fit my code.

[2016-10-09 16:06] jjhesk opened #11 "update events call upons"
just a quick question if the holder support supports late update events in the view holder.
for example, I got this hierarchy...
PlaceHolderView
.
.
PlaceHolderView
.
.
.
PlaceHolderView
.
.
The Child Holder

Can I possibly update this child with late event with http request?

[2016-10-09 16:08] jjhesk opened #12 "Another layout [feature] request"
maybe we can make this into the wish list and add MosaicLayout into the placeholderview.

https://github.com/HKMOpen/AndroidMosaicLayout

[2016-10-10 06:01] janishar commented on #11
@jjhesk can you provide a little more detail?
If by late update you mean the the view being updated from the network call after being rendered. Then yes.
In the class use
"@Position"
private int position

Then notify in @Resolve annotated method
placeHolderView.getAdapter().notifyItemChanged(position);

[2016-10-10 06:07] janishar commented on #12
I think it's a good idea. Let me think about it. Meanwhile if you can elaborate the wish list definition then It will help me with the features. Thanks

[2016-10-10 07:10] janishar commented on #11
@jjhesk To streamline the solution I have added few methods to the PlaceHolderView
1. `<T>int getViewResolverPosition(T resolver)`: This will give the position of the class object which is added as the item view, even before the item view is binded to the window.
2. `<T>void refreshView(T resolver)`: This will refresh the item view after new data is added based on the class object reference added

[2016-10-11 06:11] jjhesk commented on #11
im at 0.2.6 @janishar when the new child are added on later event to the placeholder i have got a crash. the reason was that the xml wasnt able to inflate.

[2016-10-11 06:18] janishar commented on #11
@jjhesk you should not refer to the view elements other than in method annotated with @Resolve. Because the view may have be removed from the window or not have been bind to the PlaceHolderView. What you should do is, place the view data in a list, use list item based on position to populate the view and update the list and refresh the view . Its the same procedure you would take when using recycl

[2016-10-11 06:38] janishar commented on #11
@jjhesk Also you can do is that, update the variables of the class and call refresh. When the view will be bind then it will automatically update the view. Please use 0.2.7

[2016-10-11 06:41] janishar commented on #11
@jjhesk This is what I understood the use case. If there is something else that you have implemented please explain a bit in more detail. Thanks

[2016-10-11 06:41] jjhesk commented on #11
i found out eventually. it is not the case.  The view from  'com.mikhaellopez:circularimageview:3.0.2' with using `com.mikhaellopez.circularimageview.CircularImageView` . The view was inflated normally not in the placeholderview but it has problem to inflate within placeholderview. Instead I tried to use ImageView, it inflated normally.

[2016-10-11 06:52] jjhesk commented on #12
To unfold this library. Lets open this [link](https://github.com/HKMOpen/AndroidMosaicLayout/tree/master/android-studio-version/AndroidMosaicLayoutExample/androidmosaiclayout/src/main/java/com/adhamenaya/androidmosaiclayout)
we will start working with these objects. 1. listeners 2. cell blocks.
The goal is to make `MosaicLayout` to use the shared parent placeholderview to control each block. we ca

[2016-10-11 06:54] jjhesk commented on #11
according to your suggestion, should i add `  mProfileList.refresh();` the loaded list is added to the child placeholderview?

[2016-10-11 07:03] janishar commented on #11
@jjhesk Do few changes...
1. Make a List<itemProfileCircle>
2. Add new itemProfileCircle(mContext, user_item) in that list.
3. mProfileList.addView don't use outside @Resolve
4. In onResolved()  use
[code]
5. Also in onResolved(), do call mProfileList.removeAllViews() before adding views. Because this will safeguard against repetitive view addition when view is rebinded.

[2016-10-11 07:07] janishar commented on #12
@jjhesk Thanks for sharing this link.
Let me go through this library once to understand what and how its being designed

[2016-10-11 07:24] jjhesk commented on #11
@janishar at which point should i initiate the item request for the best?

[2016-10-11 07:34] janishar commented on #11
@jjhesk you can initiate the item request as soon as the class is constructed. The fetched data will be stored in itemProfileCircleList. When the view is binded to the window it will automatically pick up the fetched data and add the view into the sub placeholdeview. Also do call mainPlaceHoldeView.refresh() (mainPlaceHoldeView is the parent placeholderview containing mProfileList) when the data h

[2016-10-11 07:49] janishar commented on #11
@jjhesk Also from the optimisation point of view I would suggest one more thing.
1. Create a class variable
[code]
2. In constructor, initialize this variable
[code]
3. Then use it in onResolved
[code]

[2016-10-11 09:14] jjhesk opened #13 "rapid scroll up and down"
There is an dimension issue when scrolling up and down on the placeholderview.

com.mindorks.placeholderview.PlaceHolderView#onMeasure() did not set the measured dimension by calling setMeasuredDimension()

[2016-10-11 09:43] janishar commented on #13
@jjhesk You have two methods for that in 0.2.7
1. <T>void refreshView(T resolver): This will refresh the child placeholderview. Pass the instance of the class containing child placeholderview. Call  mainPlaceholderview.refreshView(obj)
2. public void refreshView(int position): This will refresh the child placeholderview after new data is added based on the position of child placeholderview in the

[2016-10-11 09:45] janishar commented on #11
@jjhesk Is this issue solved? if yes then please close this issue. Thanks

[2016-10-11 09:56] jjhesk commented on #11
its interesting that i am encounter the issue on #13 relates to this issue. Now I have defined 2 different managers on the constructor and there is an logic decision which layoutmanager to use during resolve process.
1. GridLayoutManager
2. LinearLayoutManager

There are few times i got crashed from calling one of them and it is not consistent.

java.lang.IllegalStateException: View with id 213188

[2016-10-11 10:49] jjhesk commented on #11
ok. I got this resolved. These items needs to be check,

[code]

[2016-10-11 10:58] janishar commented on #11
@jjhesk @NonReusable should be used in view which once removed from the placeholderview is not to be added or modified again.
Do you still need some reference example or you got it solved?

[2016-10-11 11:07] jjhesk commented on #11
yes. I need reference for implementation of late events call upon updating the new list.

[2016-10-11 11:11] jjhesk commented on #13
I think this is a possible leak from recyclerview. Still not sure why it will crash after several scroll up and down.

[2016-10-11 11:19] rmsaksida opened #14 "@Click behavior bug for SwipePlaceHolderView"
Hey,

First of all, thanks for the awesome work on PlaceHolderView! It's by far the best and most professional Android library of its kind. :clap:

I've noticed an odd behavior while using `SwipePlaceHolderView`. This is the context of the bug:

1) I have a stack of 3 cards: A, B and C added in this order.
2) Each card has a few buttons on it. I'm setting click handlers for the buttons with `@Clic

[2016-10-11 12:31] janishar commented on #11
@jjhesk  I will create a repository with the example and post it here in sometime

[2016-10-11 12:50] janishar commented on #14
@rmsaksida Thank you so much for your kind words.
I looked into your project repo but when I tested the card is showing the correct click events. see this log.

com.example.placeholderviewbug D/ViewRootImpl: ViewPostImeInputStage processPointer 0
com.example.placeholderviewbug D/ViewRootImpl: ViewPostImeInputStage processPointer 1
com.example.placeholderviewbug I/PlaceholderView: The question is:

[2016-10-11 13:09] janishar commented on #13
@jjhesk Please use this only
[code]

In stead of
[code]

I checked that, providing the global gridLayoutManager onResolved was the reason from
com.mindorks.placeholderview.PlaceHolderView#onMeasure()  error.

[2016-10-11 13:13] rmsaksida commented on #14
Hmm, then it must be an API level issue. I didn't think to test on different API levels, sorry about that. I tested now on API level 21 and indeed it works.

However, the error still happens on **API level 16.**

[2016-10-11 13:16] rmsaksida commented on #14
**Emulator Profile:**

[code]

**Debug log**:

[code]

[2016-10-11 13:24] #10 closed

[2016-10-11 13:46] rmsaksida commented on #14
Hey, curious as to why this was closed - isn't API level 16 supported?

[2016-10-11 13:50] janishar commented on #14
Let me do a testing on 16 api and will post the finding.. thanks

[2016-10-12 02:16] jjhesk commented on #13
@janishar As you have suggested the optimization in #11 will have to revert because having any kinds of layout manager initialized at the constructor will lead to placeholderview on measure error crash.

[2016-10-12 07:56] janishar commented on #14
@rmsaksida The issue is with the emulator. The emulator does not respond when the buttons are clicked via touch pad. Try using arrow keys and enter button. It will work. If you test on real device I am confident it will work. But have not tested on real device though.

Also I have released new version 0.2.8. This version activate the `@Click` only when the card is top most.

[2016-10-12 10:03] janishar commented on #13
@jjhesk I have created a demo project:
This project has 4 child placeholderview in the main placeholderview
 the repository for the project: [NestedPlaceHolderView]( https://github.com/janishar/Tutorials/tree/master/NestedPlaceHolderView)

This project fetch google news and show in the the child placeholderview's

One thing to note about any scrollview in general. The scroll event is passed from p

[2016-10-12 10:06] janishar commented on #11
I am closing this thread and moving the discussion to #13

[2016-10-12 10:06] #11 closed

[2016-10-12 10:33] rmsaksida commented on #14
Understood, thank you for looking into this! Congrats for the library.

[2016-10-12 10:33] #14 closed

[2016-10-12 12:07] janishar commented on #13
@jjhesk I have created a demo project:
This project has 4 child placeholderview in the main placeholderview
the repository for the project: NestedPlaceHolderView

This project fetch google news and show in the the child placeholderview's

[2016-10-12 14:36] rmsaksida opened #15 "Disable swiping for SwipePlaceHolderView"
Hey, I was wondering if the library allows us to disable swiping somehow for `SwipePlaceHolderView`? Meaning cards could only be swiped programatically.

If it doesn't, this would be a cool feature to have - something like `swipePHView.setSwipeEnabled(false)`.

Let me know if a pull request for this would be desirable :smiley:  Thanks!

[2016-10-12 15:34] jjhesk commented on #13
@janishar thank you for the example supports. I have noticed that you have commented out the animation on the class. //@Animate(Animation.CARD_LEFT_IN_DESC) are there any significance or caveat?

[2016-10-12 15:46] jjhesk commented on #13
@janishar looks like this code shown as below is a kind of self automation.

[code]

Is that a good idea to wrap them into annotation so the implementation of late update event has less lines?

[2016-10-12 15:46] janishar commented on #13
@jjhesk No there is no particular reason to comment those lines. It was just that the news example required no animation as such. Do try the example by commenting them out too. Thanks

[2016-10-12 16:06] janishar commented on #13
@jjhesk I think the framework should be generic and the control should be in the hands of the programmer.
Above example is just one of the solutions for not repeating addition of views when the parent view is re bound to the window.

The recyclerview uses the same view type to repopulate the views, so it requires the view to re make whenever it come in the bound state. Hence this method will be ca

[2016-10-12 16:29] janishar commented on #15
@rmsaksida Thanks for the nice suggestion.
Could you help me out with use cases where this can be a requirement.

I am writing a putback mechanism for the cards. So if a card has not to be removed it could be put back and further cards can only be removed if putback is not intended. This will provide a mechanism of card swipe control like Tinder. Tinder cards let you swipe and then put it back if

[2016-10-12 16:50] rmsaksida commented on #15
Hey, I can think of a few use cases:

- The library user may be interested in the Tinder layout (a stack of cards), but not necessarily the touch swiping feature itself. Just the stack of cards is a nice UI element even if you can't swipe them.

- The app user is supposed to do something before he can swipe the cards. Maybe the cards will be "locked" for some reason before he can do it.

- A varia

[2016-10-12 20:39] janishar commented on #15
Okay You do it and push your changes

[2016-10-13 11:55] rmsaksida commented on #15
Okay, I'll try to implement this and create a pull request. :+1:

[2016-10-13 12:57] JEuler opened #16 "Gravity issue"
Hi! Thank you for the cool library first of all. I have a problem using it. So, I have the following code in my Relative layout. So, it is just the all screen, you know.

`<com.mindorks.placeholderview.SwipePlaceHolderView
                android:id="@+id/cards_container"
                android:layout_width="match_parent"
                android:layout_height="match_parent" />`

I have the follow

[2016-10-13 13:40] janishar commented on #16
@JEuler Thank you for your kind words.

I have fixed the issue in the 0.2.9 version.
please use this version
[code]

[2016-10-13 14:38] JEuler commented on #16
Thank you! It is now at the bottom. But I have another issue now ( sorry) ). When I drag the card, it is not dragging at all, I can only swipe it left or right, and could not drag it to the top of the screen (that was the main reason of match_parenting the view).

[2016-10-13 14:48] JEuler commented on #16
And another update. If I set the gravity to CENTER, all is dragging well. And If I set the Gravity.BOTTOM alone or with CENTER cards are not dragging freely.

[2016-10-13 15:56] janishar commented on #16
@JEuler Don't use gravity for this.
You will have to do few additional steps:

1. In the CardView ( or whichever is the topmost view group containing card's layout) add:

[code]

2. In the SwipeDecor use:
[code]

[2016-10-13 16:22] JEuler commented on #16
Thank you so much! All is working just like I need. Great job with library!

[2016-10-13 16:49] #16 closed

[2016-10-15 08:56] #15 closed

[2016-10-16 07:47] jjhesk opened #17 "lifecycle"
There are leaks found in side of the viewholder because there is an object that has been declared in static level at the constructor. What is the proper annotation that i can declare to destroy such objects?
@janishar
I have found..

[code]

[2016-10-16 08:19] janishar commented on #17
Annotate the class with @NonReusable and it will set all the variables as null when the view is removed from the placeholder view. So GC can collect it.

Let me know if this works

[2016-10-16 09:39] jjhesk commented on #17
not sure why there are still leaks detected from leakage library.

[2016-10-16 09:40] janishar commented on #17
Can u post the trace of leak canary

[2016-10-16 16:34] jjhesk commented on #13
just a quick question. testing against of your nested placeholder with late update events. There is a weird thing happened. when the rapid scroll was taken in action and it ended up mixed two different placeholder using the same set of children.

First thing I have noticed that when `DO_NOTHING` was found on the memory hashmap I quickly noticed that the original set of children were gone. Then I a

[2016-10-16 17:08] janishar commented on #13
@jjhesk If you are using same xml layout for the sub placeholderviews then the main Placeholderview will try to reuse the same layout when rebinded. This feature is from recyclerview, that uses the same view of particular type to be used to repopulate the views.

Try using

mProfileList.refresh(); in onResolved()

below code is not required. But I will check to be sure

int viewsize = mProfileList

[2016-10-17 02:54] jjhesk commented on #13
@janishar what you are saying is that using the same @Layout(R.layout.item_placeholder) to inflate the holder will cause the mix up issue?

[2016-10-17 03:13] jjhesk commented on #13
Now I confirm that Hashmap is the reason to cause random children order to from the item list in the sub placeholder.

[2016-10-17 12:30] janishar commented on #13
@jjhesk Let me work a bit more on Nested Placeholderviews so the apis are more simpler. I am thankful that You have provided a lot of insights till now.

I don't think the performance will be much of difference if you use LinkHashMap.

Another way of replacing HashMap is to add a variable in the class representing the item views and then maintain the state through those variables.

eg. https://git

[2016-10-18 06:08] jjhesk commented on #13
[code]
Can this part able to be included in the annotation so such repetitive code can be eliminate from using `extend` or copy and paste into every child class which is in the nestplaceholderview.

[2016-10-18 16:00] janishar commented on #13
@jjhesk The suggestion is good. I am thinking about it. Will add in the new release. Thanks

[2016-10-19 23:12] janishar commented on #4
@biskit Please check the putback mechanism added in 0.5.0 version
https://github.com/janishar/PlaceHolderView/releases/tag/0.5.0

Hope it solves your problem.

[2016-10-20 17:38] JEuler opened #18 "Swipe turn off"
Hi! As I see in the changelog of last version you have added the possibility to turn off the swipe functionality. Unfortunately it is turning off all animations of swipe.

I will briefly describe my case: I want user to have ability to pass through cards by clicking buttons on them. But I don't want him to have ability to swipe or drag cards.

Is this possible using your library?

[2016-10-20 20:26] janishar commented on #18
@JEuler Please refer version 0.5.1 release notes:
https://github.com/janishar/PlaceHolderView/releases/tag/0.5.1

It will enable you to do so.

[2016-10-21 15:31] JEuler commented on #18
Thank you very much! It worked!

[2016-10-21 15:31] #18 closed

[2016-11-10 16:46] jjhesk opened #19 "miss touch event for the sub children"
There is a situation where the CoordinatorLayout or AppBarLayout didnt response to the touch of the sub children of the placeholderview.

[2016-11-11 09:06] janishar commented on #19
@jjhesk Are you making the AppBar to hide with scrolling? Can you share the code for me to understand it better.

[2016-11-18 12:34] jjhesk commented on #19
its basically the implementation with another PlaceHolderView as child. there is not much difference compared to the demo code.

[2016-12-18 15:19] LzYang30 opened #21 "ActivityTinder can work using Fragment?"
I'm Newbie in android. Can tell me the ActivityTinder how can work using Fragment?
I getting NullPointerException in Fragment.

[code]
[code]

The error as:
java.lang.NullPointerException: Attempt to invoke virtual method 'void com.mindorks.placeholderview.SwipePlaceHolderView.disableTouchSwipe()' on a null object reference

[2016-12-18 16:10] janishar commented on #21
@LzYang30 Please replace this:
[code]
with this:
[code]

[2016-12-19 08:34] LzYang30 commented on #21
Thanks a lot =D
it's work.

[2016-12-19 08:37] #21 closed

[2017-01-17 13:14] NishantRajput opened #22 "implement @LoadMore in SwipePlaceHolderView"
How can I implement @LoadMore in SwipePlaceHolderView??

[2017-01-17 15:33] janishar commented on #22
@NishantRajput You want to implement loading for the swipe views till you get more data from the api?

[2017-01-17 15:36] NishantRajput commented on #22
Yes, I want a bunch of user to display in which page returns 20 users at time and I want to load more pages.

[2017-01-17 21:12] janishar commented on #22
@NishantRajput Please use version 0.6.1
compile 'com.mindorks:placeholderview:0.6.1'

See the release note:
https://github.com/janishar/PlaceHolderView/releases/tag/0.6.1
[code]

[2017-01-18 12:33] NishantRajput commented on #22
Thanks.. Its working.

[2017-01-18 15:03] #22 closed

[2017-01-20 16:10] #4 closed

[2017-02-02 13:19] NishantRajput opened #23 "Restrict user from swiping card"
How I can restrict user or put back the swiped card in placeholder view?

[2017-02-02 13:32] #23 closed

[2017-02-16 11:30] mattsff opened #24 "Crash: NullPointerException in PropertyValuesHolder.setupSetterAndGetter"
Hi !

I have a regressed and big crash inside PropertyValuesHolder. It's appear mainly for users with API 19, 16 and 17. I used IntinitePlaceHolderView and PlaceHolderView, and I don't have any idea about this issue. Can you help me? Thanks!

Detail:
[code]

[2017-02-16 12:09] janishar commented on #24
@mattsff
Hi,

I tested the library @Version 0.5.0 on API 19 and it was working fine.
The sample project: https://github.com/janishar/examples/tree/master/InfiniteLoadMoreFromNetwork

Refer to this http://stackoverflow.com/questions/24105843/choreographer-nullpointerexception

Does it make any sense to you implementation.

Provide more details of how you are using IntinitePlaceHolderView.

[2017-02-16 13:16] mattsff commented on #24
First of all, thanks for your quickly response.

I have many fragments where I make an async http request with Retrofit. This request is non-blocking and I use SwipeRefreshLayout for show the progress but user can go to other fragment or close the app in the middle of request.

Here is the fragment code about http request:

[code]

And it's the class for "Load more view"
[code]

Thanks for your he

[2017-02-17 18:46] janishar commented on #24
@mattsff

Try one these and let me know if it worked:

1. In Fragment onDestroy call: mPlaceHolderView.noMoreToLoad();

else

2. In Fragment onDestroy call: mPlaceHolderView.noMoreToLoad(); mPlaceHolderView.loadingDone();

else

3. In Fragment onDestroy call: mPlaceHolderView.removeView(mLoadMoreView)

else

4. Explicitly cancel any animation you are doing in the Fragment onDestroy

[2017-02-20 10:41] aimanbaharum opened #26 "How to expand/collapse ExpandablePlaceHolderView programmatically?"
Hey guys, I want to expand all parents from a press of a button. Is there a way we can do so?

I know there is `@SingleTop` but it only expand the first parent item.

Please advice, thanks.

[2017-02-21 20:37] biskit commented on #4
awesome 👏 I'll check it out as soon as I have to update my code. sorry for delay.

[2017-02-28 23:53] WanClem opened #27 "StickyHeaderItemDecoration for PlaceHolderView"
Hi, nice job on PlaceholderView. It's awesome.

I already have a StickyHeaderItemDecoration, how can I attach it to PlaceHolderView to get Headers that stick to the top on scroll, Like on WhatsApp Chat Screen. Thanks.

[2017-03-02 11:58] KingAndroid opened #28 "PlaceHolderView inside Placeholderview"
Hi how are you?
while I use this library. I have found issue as follow.
I'd like to place horizontal phv inside vertical phv cell's.
But outside phv has another cells that does not include phv.

At that time, I added cells to v-phv like below order.
1. cell without h-phv
2. cell with h-phv
3. repeat 2 as much as need.

Issue : when view loaded, initial scroll position of v-phv is offset to show se

[2017-04-05 07:43] pragneshghoda opened #29 "NullPointerException on bindSwipeCancelState() method."
Hello @janishar ,
I have been facing crash on swipe cards while i cancel swipe of cards. It is a random crash but happning too many times.

It happens while I have loaded cards on fragment and change the tab. When i came back and try to swiping a card. But when i cancel swiping card, app got crashed.

Please look on this bug. Thanks.

**## Stack Trace :**

java.lang.NullPointerException: Attempt t

[2017-04-05 08:45] janishar commented on #29
@pragneshghoda
I tested the code in a sample project having TabLayout with ViewPager and FragmentStatePagerAdapter, but it's working fine in my case.

Can you tell me, how you are cancelling the swipe?

[2017-04-06 06:10] pragneshghoda commented on #29
@janishar  Thanks for your quick response.

I have updated library from 0.6.1 to 0.6.2. There is lower crash ratio than before.

I have one fragment and in that fragment I used 2 tabs with fragment. Both have swipeholderview.

So when I loaded both fragments in tab and swipe cards.  When I leave swiping it goes to swipeCancelState and then this exception occurs. It is random crash. doesn't happen

[2017-04-06 08:15] janishar commented on #29
@pragneshghoda
Can you share the code where you are adding the card class in addView of the swipeholderview;

[2017-04-06 08:43] pragneshghoda commented on #29
**I have assign swipeview as below :**
[code]

**and added views as below.**

    if (listMatchUsers.size() > 0) {
            swipeIndex = 0;
            swipeMaxIndex = listMatchUsers.size();
            mSwipeView.removeAllViews();
            for (Matchuser user : listMatchUsers) {
                TinderCard cardItem = new TinderCard(mContext, user, mSwipeView);
                cardItem.setOnI

[2017-04-06 16:41] janishar commented on #29
@pragneshghoda
Try adding this line to the ViewPager containing the tab fragment.
`mViewPager.setOffscreenPageLimit(mTabLayout.getTabCount());`

[2017-04-07 05:50] pragneshghoda commented on #29
@janishar

I am not using ViewPager. I have FrameLayout for both Fragments. Tabs are not swipable.

[2017-04-07 06:32] janishar commented on #29
What do you mean by tabs?

Can you provide your view hierarchy?

[2017-04-07 11:59] pragneshghoda commented on #29
I have one Activity with FrameLayout > Loading 5 Fragments in FrameLayout > One of the fragment have TabView with Framelayout and loading 2 Fragments with ChildFragmentManager() in both tab i have swipeview enabled.
![frames](https://cloud.githubusercontent.com/assets/9262969/24799226/ba49fc02-1bb7-11e7-8b36-8e8a490a7742.jpg)

[2017-05-27 10:21] tupikoff opened #31 "ImageView don't adjust to CardView's border"
API 19 and lower: the ImageView don't adjust to CardView's border.
On the example of tutorial "Tinder Swipe" (just changed app:cardCornerRadius="30dp"):
API 19: https://www.dropbox.com/s/wzbjsl4ql0qr77x/Screenshot_1495827653.png?dl=0
API 24: https://www.dropbox.com/s/eidrkokvyq5me5s/Screenshot_1495827593.png?dl=0

[2017-05-29 16:27] tupikoff commented on #31
@janishar can you help?

[2017-05-30 06:44] janishar commented on #31
@tupikoff Sure I will test it today

[2017-05-30 08:52] janishar commented on #31
@tupikoff This is the issue with the CardView of Android Design Support Library.
Please refer to below link to solve it:
https://stackoverflow.com/questions/27394300/make-imageview-fit-width-of-cardview

[2017-06-01 18:59] tupikoff commented on #31
A did it! Thanks!
I can make pull request for fix example. Are you need it @janishar?

[2017-06-01 19:40] janishar commented on #31
@tupikoff sure you make the pull request and thanks for finding the solution. Greatly appreciated.

[2017-06-05 12:12] hubdestro opened #32 "Disable particular Swipe Left/Right/Top/Bottom"

[2017-06-06 11:23] tupikoff commented on #31
@janishar I made pull request https://github.com/janishar/Tutorials/pull/1

[2017-06-09 00:20] sujan219 opened #33 "Undo animation"
Can you add undo animation?

[2017-06-15 08:34] abdullo211 opened #34 "java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position"
when Placeholderview.removeallviews() crashed, I think its recyclers' bug, but how fix this?

[2017-06-16 16:06] janishar commented on #34
@abdullo211 Let me test it. Can you post the stack trace?

[2017-06-19 06:57] abdullo211 commented on #34
Ok, I’ll post stack. thank u for answer

[2017-06-28 12:16] jmaire opened #35 "SwipePlaceHolderView in a ViewPager"
Hi,
I have a ViewPager containing two fragments. Each of those fragments have a SwipePlaceHolderView.
When I try to swipe purely horizontaly a card, the ViewPager intercept the touch action, and swipe between the fragments instead of the card.

How to solve this issue ?

[2017-06-29 06:26] janishar commented on #35
@jmaire I would suggest that in this case use only Vertical Swipe for the cards using
`mSwipView.getBuilder()
                  .setSwipeType(SwipePlaceHolderView.SWIPE_TYPE_VERTICAL)`

To work with touch event you will have to supply your own implementation of SwipePlaceHolderView.FrameView

[2017-06-29 06:28] janishar commented on #33
@sujan219 Can you please explain what animation you want to undo?

[2017-06-29 06:30] janishar commented on #32
@hubdestro Currently we have 3 types of swipes: Vertical(top-bottom), Horizontal(left-right) and All Direction.
There are flags for them:
Example:
`mSwipView.getBuilder() .setSwipeType(SwipePlaceHolderView.SWIPE_TYPE_VERTICAL)`

[2017-06-29 06:31] #31 closed

[2017-06-29 12:00] abdullo211 commented on #34
FATAL EXCEPTION: main
                                                                             Process: com.wienerdeming.distribution, PID: 4361
                                                                             java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 0(offset:0).state:20

[2017-06-30 05:20] #32 closed

[2017-07-03 11:58] sergiobr opened #36 "ExpandablePlaceHolderView inside InfinitePlaceHolderView"
Hello,
I'm playing with the examples and I need to have expandable itens in infinite list loading.
I've got the News Feed and Infinite List with Load More and tried to merge both but with no success.
Is it possible to do that using this library or it would need some hack or anything like it?
Thank you

[2017-07-05 07:20] janishar commented on #34
@abdullo211 I Tested but Placeholderview.removeAllViews() worked fine. Can you provide the code where you are using removeAllViews.

[2017-07-05 08:43] janishar commented on #36
@sergiobr Hi, please use below code for reference to achive it.
[code]

[2017-07-05 09:59] abdullo211 commented on #34
public class MarketsListFragment extends BaseFragment implements LoadMoreListener {

    @BindView(R.id.market_list_recycler_view)
    InfinitePlaceHolderView placeHolderView;

    @BindView(R.id.swipe_refresh_layout)
    SwipeRefreshLayout swipeRefreshLayout;

    @BindView(R.id.no_connection_layout)
    LinearLayout connectionLayout;

    @BindView(R.id.progress)
    ProgressBar progressBar;

[2017-07-05 09:59] abdullo211 commented on #34
@Layout(R.layout.market_list_item)
public class MarketListView {

    @View(R.id.magazine_item_name)
    private
    AppCompatTextView name;

    @View(R.id.magazine_item_address)
    private
    AppCompatTextView address;

    @View(R.id.market_image)
    private
    AppCompatImageView image;

    @Position
    int parentPosition;

    private Market market;
    private Activity context;

    pub

[2017-07-05 11:14] janishar commented on #34
What is the version of RecyclerView and PlaceHoldeView you are using?

[2017-07-05 11:16] abdullo211 commented on #34
compile 'com.mindorks:placeholderview:0.6.2'
    compile 'com.android.support:design:25.3.1'
    compile 'com.android.support:appcompat-v7:25.3.1'

[2017-07-07 10:20] janishar commented on #34
@abdullo211 I am not able to regenerate this issue. If your can find how and when it get reproduced then I would be able to look into it. Thanks

[2017-07-08 10:46] JEuler opened #37 "Undo is not working"
Hi! I have the following setup:
[code]
For `SwipePlaceHolderView`.
When I'm doing the `mCardsContainer.undoLastSwipe()` nothing happens at all. Is this because of disableTouchSwipe?

[2017-07-08 14:51] janishar commented on #37
@JEuler Has any card been swiped before calling undoLastSwipe?

[2017-07-08 14:52] janishar commented on #36
I closing this issue since you mailed me that it worked.

[2017-07-08 14:52] #36 closed

[2017-07-08 22:33] JEuler commented on #37
@janishar Yeah, of course. I do `mCardsContainer.doSwipe(true)` on click on buttons.

[2017-07-09 06:36] janishar commented on #37
@JEuler Try adding these lines:
[code]

[2017-07-09 08:41] JEuler commented on #37
@janishar I've added, now I receive the `java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.FrameLayout.setOnTouchListener(android.view.View$OnTouchListener)' on a null object reference`. Maybe some errors on my code. But it points to the `mCardsContainer.undoLastSwipe()`

[2017-07-10 13:29] janishar commented on #37
@JEuler
I tested but its not producing java.lang.NullPointerException:

Does your setup look like this:
[code]

[2017-07-10 14:46] JEuler commented on #37
@janishar Yeah, and I insert views like that:
[code]

[2017-07-10 14:50] JEuler commented on #37
This is back button handle
[code]

[2017-07-10 14:51] JEuler commented on #37
[code]

[2017-07-12 10:23] janishar commented on #37
@JEuler I have spotted the issue. I will fix it and post an update. Thanks

[2017-07-12 10:29] JEuler commented on #37
Thank you sooo much! Will wait :+1:

2017-07-12 13:23 GMT+03:00 Ali <notifications@github.com>:

--
Terekhin Ivan

[2017-07-12 10:59] janishar commented on #37
@JEuler Please use 0.6.3 version and verify if its fixed.
[code]

[2017-07-12 11:09] JEuler commented on #37
@janishar It is now not crashing but always returning to the first card, not the previous one.

[2017-07-12 11:17] janishar commented on #37
@JEuler Can you check it by making card display count greater that 1?

[2017-07-12 11:32] JEuler commented on #37
@janishar Hm, it is not going to first card. It is calling onResolved with the null instance of data model class. `profileQuestion`

[2017-07-12 11:33] JEuler commented on #37
I'm using the following layout
[code]

[2017-07-12 12:30] janishar commented on #37
@JEuler Can u try removing @NonReusable in the above case with .setDisplayViewCount(3)

[2017-07-12 13:27] janishar commented on #37
@JEuler Please use 0.6.4 version
[code]
And remove `@NonReusable` from PersonalizeCardPresenter.
`@NonReusable` is for the case when the view has to be swiped only once. It is to prevent any potential memory leak. For undo the card will be swiped more than once.

I hope this will resolve the issue.

[2017-07-12 17:33] JEuler commented on #37
@janishar Hm, it is working for once with, I press back, I see previous one, I press another time, nothing changes.

[2017-07-13 06:43] janishar commented on #37
@JEuler BackPress Button will normally end the Activity task and then it will be recreated again when relaunched from the recents screen.

[2017-07-13 06:47] JEuler commented on #37
@janishar No, I understand, I've override it.
[code]

[2017-07-13 07:03] janishar commented on #37
@JEuler The undo is designed to only works for last one card rewind, if this is the issue you are referring.

[2017-07-13 08:46] JEuler commented on #37
@janishar Okay, thank you so much for working on this issue. 👍 Will try to add this functionality

[2017-07-13 09:15] #37 closed

[2017-07-14 09:33] ltthuc1989 commented on #34
Hi janishar! I have faced the same issue with my project!
     Process: com.ezyplanet.thousandhands, PID: 31853
    java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 0(offset:32).state:46

[2017-07-17 10:09] ltthuc1989 commented on #34
Hi @janishar ! i have known why this error happened .
You may be have missed call notifyItemRangeRemoved(0, oldSize) in removeAllViewBinders() of ViewAdapter class. I have edited your function like this then error disappeared.
+your function before edited:
protected void removeAllViewBinders(){
        for(ViewBinder<T, View> viewBinder : mViewBinderList){
            viewBinder.unbind();

[2017-07-17 10:28] janishar commented on #34
@ltthuc1989 Thank you for finding the bug, I will verify it and release a new version with the fix.

[2017-07-17 10:55] janishar commented on #34
@abdullo211 @ltthuc1989
I have applied the fix please use 0.6.5 version.
[code]

[2017-07-17 10:56] ltthuc1989 commented on #34
@janishar You are welcome! You can verify it by updating data like this in your FeedTestActivity:
 btUpdate.setOnClickListener(new View.OnClickListener() {
            @Override
            public void onClick(View view) {
                mExpandableView.removeAllViews();
                for(int k=0;k<listFeed.size();k++){
                    Feed feed = listFeed.get(k);
                    mExpan

[2017-07-17 10:59] ltthuc1989 commented on #34
Thanks so much!quickly updating 👍

[2017-07-17 11:12] janishar commented on #34
Thanks :) I am closing this issue now.

[2017-07-17 11:12] #34 closed

[2017-07-17 11:14] janishar commented on #33
@sujan219 Remove this line `@Animate(Animation.XXX)`

[2017-07-17 11:14] #33 closed

[2017-07-18 14:19] abdullo211 commented on #34
Thanks 👍

[2017-07-25 13:10] ankit02jindal opened #38 "Unwanted card displayed"
When swipe cards then suddenly a random  card occurred with small size but swipe gesture is working fine.

[2017-07-26 15:07] janishar commented on #38
@ankit02jindal can you share the view class code for me to understand?

[2017-08-01 05:52] core2root opened #39 "Swipe directions"
Hi, will you add up/down swipe directions?

[2017-08-02 05:53] janishar commented on #39
@core2root Hi, yes I will do it but it will take sometime.

[2017-08-02 12:08] sergiobr opened #40 "Reusing ExpandablePlaceHolderView"
In my code I need to clear ExpandablePlaceHolderView list content and reload new itens on there ate the same screen, beause I have a filter in that.
But seems it has some problem in clearing or notifying the adapter, since after I call expandableView.removeAllViews() and after add the new itens, it gives the following error:
  `08-02 12:06:26.721 15844-15844/ E/AndroidRuntime: FATAL EXCEPTION: mai

[2017-08-02 12:39] sergiobr commented on #40
I added expandableView.getAdapter().notifyDataSetChanged(); and it works.

[2017-08-02 13:38] tw-profiforms commented on #34
Thanks

[2017-08-03 11:38] core2root commented on #39
can you please say שנםוא how much time you talking, because i heavy use this library in project but now i have to add the up and bottom directions, and if it will take you long time i would have to search alternative library, but i really want to stay with this one.
thank you in advance.

[2017-08-03 12:53] rohand opened #41 "Animate undoLastSwipe"
Is there any easy way to animate the card when undoLastSwipe is called?
Animation similar to activatePutBack.

[2017-08-03 20:34] janishar commented on #40
@sergiobr I will fix the bug soon thanks

[2017-08-03 20:35] janishar commented on #41
@rohand I will have to look into it and will get back to you soon.

[2017-08-03 20:36] janishar commented on #39
@core2root Thanks, I will be able to look into it after this week.

[2017-08-03 20:38] janishar commented on #39
Can you explain the complete use case meanwhile?

[2017-08-06 06:32] core2root commented on #39
Hi, i am working on app that need callbacks for all direction swipes (Up,Bottom,Left,Right).

[2017-08-08 11:34] rohand opened #42 "Get Swipe distance"
I would like to change the background color of the card. For smooth color fading I want to set the alpha of the background color based on the distance swiped.
Is there any way to get the swipe distance (left and right)?

I tried @Position annotation but it always seems to be returning zero.

[2017-08-08 18:14] janishar commented on #40
@sergiobr This issue has already been resolved. Please refer to this issue: https://github.com/janishar/PlaceHolderView/issues/34

Use for fix:
[code]

[2017-08-08 18:38] sergiobr commented on #40
Thank you @janishar

[2017-08-08 19:05] #40 closed

[2017-08-09 18:11] janishar commented on #42
@rohand I have released 0.7.0 version with `SwipeTouch` callback.
Refer to this release note for more details: [Release-0.7.0-Notes-Link](https://github.com/janishar/PlaceHolderView/releases/tag/0.7.0)

Also, find this example project that does the card alpha animation with swipe distance: [Project-Link](https://github.com/janishar/Tutorials/tree/master/tinder-swipe-top-Left-right-bottom)

[2017-08-09 18:13] janishar commented on #41
@rohand
I have added the animated card when `undoLastSwipe` is called in the version 0.7.0
Refer to this release note for more details: [Release-0.7.0-Notes-Link](https://github.com/janishar/PlaceHolderView/releases/tag/0.7.0)

[2017-08-09 18:15] janishar commented on #39
@core2root I have added a new class `SwipeDirectionalView` on top of `SwipePlaceHolderView` that will provide the directional callback in the version 0.7.0
Refer to this release note for more details: [Release-0.7.0-Notes-Link](https://github.com/janishar/PlaceHolderView/releases/tag/0.7.0)

[2017-08-09 18:17] janishar commented on #26
@aimanbaharum I have added the the programmatically expand/collapse in the version 0.7.0
Refer to this release note for more details: [Release-0.7.0-Notes-Link](https://github.com/janishar/PlaceHolderView/releases/tag/0.7.0)

[2017-08-09 18:21] janishar commented on #35
@jmaire You can extend the class the `SwipePlaceHolderView` and provide your own implementation.
See `SwipeDirectionalView` class to get the idea on how to do that. Link:
https://github.com/janishar/PlaceHolderView/blob/master/placeholderview/src/main/java/com/mindorks/placeholderview/SwipeDirectionalView.java

[2017-08-11 10:42] ParticularName opened #44 "Expandable placeholder view inside navigation drawer"
Can we use the expandable placeholder view inside the navigation drawer? what I want to achieve is,  place the expandable list view after the navigation header, after that need to display the normal list items.

[2017-08-13 07:35] core2root commented on #39
Thank you.

[2017-08-15 15:49] #42 closed

[2017-08-15 15:50] #41 closed

[2017-08-15 15:50] #39 closed

[2017-08-15 15:51] #26 closed

[2017-08-24 07:28] core2root opened #45 "swiping causes resize content"
Hi, when i swipe to any direction it cause resize of the content inside the card.

[2017-08-24 08:04] core2root commented on #45
I think i because of scaleX,scaleY in onAnimate() function, is there are way to disable the scaling?

[2017-08-24 08:40] Sroka opened #46 "Swipe movement not smooth"
First of all, thanks for this great library, really appreciate it. But I have a problem with SwipePlaceHolderView. The movement of the card is not smooth. It jerks when and it is especially visible when going through horizontal and vertical axis.

I recorded a video to illustrate the issue:
https://gfycat.com/gifs/detail/NaughtyHarshEastrussiancoursinghounds

[2017-08-24 10:49] core2root opened #47 "Disable one of directions"
Is there a way to disable one or 2 directions to swipe?

[2017-08-28 10:14] janishar commented on #47
The swipe can either be Horizontal(left-right) or Vertical(top-bottom) or Default(all direction)

[2017-08-28 10:16] janishar commented on #45
@core2root Please refer to this Article to see if it can resolve the issue.
https://medium.com/@janishar.ali/modifying-android-tinder-swipe-view-example-to-support-auto-resize-94f9c64f641e

[2017-08-28 10:21] janishar commented on #46
Thank you so much.
I will look into this issue and try to make the transition smooth.

Meanwhile you can remove the rotation.

[code]

[2017-08-29 19:56] mwshubham commented on #37
@janishar sir is it possible to undo last swipe for a continuous event, not just a last swipe. I mean it would be better if mRestoreResolverOnUndo would be a list. or is it possible to add view at a certain position
using `addView(T resolver, int position)` as it seems to be protected for now

[2017-08-30 07:29] janishar commented on #37
@mwshubham Yes it can be done but a lot of things have to be handled. The main concern will be of  memory management as all the views will be in the list. But it can be smartly tackled. Do you want to work on it?

[2017-08-30 07:35] mwshubham commented on #37
Yes, i would love to contribute. Any suggestions.

[2017-08-30 07:59] janishar commented on #37
@mwshubham Don't change the existing SwipePlaceHolderView but extend it just like the SwipeDirectionalView and add this functionality in that new class.

[2017-08-30 12:44] orikl84 opened #48 "getViewCount returns wrong number"
Why getViewCount returns the count - 1?

empty view returns -1, view with one item return 0, and so on...

[2017-08-30 13:58] orikl84 opened #49 "InfinitePlaceHolderView: clear items and resetting no more to load"
If I want to clear all the items and reset the load more, is this the right way?

`mInfinitePlaceHolderView.removeAllViews();`
`mInfinitePlaceHolderView.noMoreToLoad();`
`mInfinitePlaceHolderView.setLoadMoreResolver(new LoadMoreView(this));`

[2017-08-30 14:20] janishar commented on #48
@orikl84 Where did you use `getViewCount`?
For `PlaceHolderView`  please use `getViewResolverCount`

[2017-08-30 14:27] orikl84 commented on #48
ok, thanks

[2017-08-30 14:27] #48 closed

[2017-08-31 20:35] ejb123 commented on #24
Had Henoch-Schonlein Purpura for 2 weeks, no complications.

[2017-09-01 06:52] Tokimu commented on #46
I'm having exactly the same issue, with rotation angle set to 0 it works smooth but not doesn't look so spectacular anymore :)

[2017-09-10 08:42] janishar commented on #49
@orikl84 Yes It's the right way.
You can skip this though: `mInfinitePlaceHolderView.setLoadMoreResolver(new LoadMoreView(this));`

[2017-09-10 09:08] janishar commented on #46
@Sroka @Tokimu I have release 0.7.1 version with solution.
Please refer to the below release note for more information.
https://github.com/janishar/PlaceHolderView/releases/tag/0.7.1

[2017-09-10 09:11] orikl84 commented on #49
But after looking in the source code I saw`noMoreToLoad` removes the scroll listener. `setLoadMoreResolver` adds it back

[2017-09-10 09:23] janishar commented on #49
Yes you are right you do need to call `setLoadMoreResolver` Thanks

[2017-09-10 10:17] #49 closed

[2017-09-12 10:55] Sroka commented on #46
@janishar Thank you very much. I am going to test it in coming days and will let you know how it is working now

[2017-09-13 20:05] mwshubham opened #50 "Looks like some problem with proguard."
`-keepclassmembers public class com.mindorks.test.swipe.TinderCard {*;}`
Added above line to build in minified mode

[2017-09-14 11:43] chitra8 opened #51 "Cards Blank in release build"
Hello, Cards are blank. Data is their and its working if i use debuggable apk but not shwoing any content in release apk

[2017-09-14 12:33] janishar commented on #51
@chitra8 Have you added the proguard?
[code]

[2017-09-14 12:34] janishar commented on #50
@mwshubham
Please add these lines in the proguard.
[code]

[2017-09-14 13:24] chitra8 commented on #51
yes i added and it solved the issue

[2017-09-14 13:26] #51 closed

[2017-09-14 15:39] Theusfilipe opened #52 "Knowing the view that was swiped"
Hello, placeHolderView is quite good but I can't for instance get the profile of the current view because I can't access it's number consistently through onItemRemoved.

Is there a way I can get the view whenever doSwipe was done?  Is it also possible to see if it received a true or false when it was called?

Gratefull
Matheus

[2017-09-15 14:26] janishar commented on #52
@Theusfilipe

To get the callback for the card use the below annotations.

[code]

[2017-09-19 05:57] Tokimu commented on #46
Thanks so much for this! It works much better but still i have this feeling like there is one point on the screen that controls card rotation. The problem is when i swipe fast through that point then the card keeps rotation from the wrong side but when i do it slowly, it will change. I was also checking this library for card movement: https://android-arsenal.com/details/1/6075 It looks more smooth

[2017-09-21 08:45] Tokimu commented on #35
@jmaire Hey, i'm working on the same issue now, were you able to solve the problem?

[2017-09-26 09:05] Timiboy27 opened #53 "Where to put @SwipeIn/Annotations?"
I don't know where I do put the `@SwipeIn` annotation because in my main activity it doesn't work.
Thanks for help!

EDIT: Well I found it. You put it in (Tinder)Card.java

[2017-09-27 06:57] janishar commented on #50
@mwshubham Did the problem got resolved?

[2017-09-27 06:58] #53 closed

[2017-09-27 10:20] tntn001 opened #54 "ExpandablePlaceHolderView in ExpandablePlaceHolderView duplicate child"
I add view for ExpandablePlaceHolderView with child is an ExpandablePlaceHolderView. The child will duplicate every time i expand the parent. How to fix this? Thank you!

[2017-09-27 11:34] ailtonvivaz commented on #54
Try before add views
[code]

[2017-09-28 02:15] tntn001 commented on #54
Thank you, i tried but not true.

[2017-09-29 06:52] #54 closed

[2017-09-29 06:54] tntn001 opened #55 "Checkbox missing value"
I have added checkbox in placeholderview. When i scroll, checkbox is reset to first value.

[2017-09-29 07:09] janishar commented on #55
@tntn001 You have to initialize the values of the checkbox in OnResolve annotated method. The view is recycled when it crosses the screen and then is redrawn. When it is redrawn then it calls the method annotated with OnResolve of the View class.

[2017-09-30 18:11] mwshubham commented on #50
@janishar Yeah tried this setting worked fine! Thanks

[2017-10-03 07:48] #50 closed

[2017-10-06 11:25] Saiga04 opened #56 "InfinitePlaceHolderView: some item doesn't display on first load"
In my project. I added 20 item views into an InfinitiePlaceHolder using addView method.

At the first load, some of the item views doesn't display, some of them does.

Scrolling up/down or calling refresh method on InfinitiePlaceHolder make missing item views appear.

I'm using Kotlin. BTW

[2017-10-11 09:11] Saiga04 opened #57 "Have you consider make this view work with Filterable ?"

[2017-10-12 10:46] 2math opened #58 "Ability to use this library in library modules"
Hi,
First thanks for this beautifull library, it helps a lot!
I have been using SwipePlaceHolderView in a few apps, but now I'm having a problem to add it to a project which is a library it self.
The main problem is that library module R class has no final fields anymore and can't use the anotations, because they need constant ids - error msg "Atttribute value must be constant".
My question is, is

[2017-10-14 12:08] vikas-github opened #59 "Profile images are not showing and @drawable is unrecognizable"
I have implemented the tinder like stacked view everything is working perfectly but profile images are not visible. Also @drawable is not reconizable, I created vector asset for heart and cancel buttons gives error of "couldnt resolve resource".

[2017-10-16 05:54] janishar commented on #59
@vikas-github
Can you share the code where you are using `@drawable` because it's not  available in PlaceHolderView.
How you added the image in the `@Resolve` annotated method?
`couldn't resolve resource` could be something to do with the vector image itself.

[2017-10-16 05:57] janishar commented on #57
Yes we can think to make it work with Filterable. Please give your thoughts on how we can make it work?

[2017-10-16 06:09] janishar commented on #56
@Saiga04
"At the first load, some of the item views doesn't display, some of them does."
can you provide some code so that I can look into this?

[2017-10-16 06:10] janishar commented on #58
@2math Yes let me look into this.

[2017-10-18 05:10] vikas-github commented on #59
Thanks for the response. The drawable issue is resolved now. But the profile image is still not showing.
Here is the code in @Resolve annoted method, `Glide.with(mContext).load("http://kelompokdua.hol.es/pic/Appetizer/juice.jpg").into(profileImageView);` Just for testing purpose I'm adding image from hard-coded link string

[2017-10-22 13:22] Tokimu opened #60 "Access the cards below"
Hey! I'm trying to make fragment similar to your's in the TinderSwipe tutorial but i would like to make the cards below blurred, so we can see only the main card. Is there any way to get access to cards below to make them blurred? Or to make all cards blurred but change it when card is getting top?

[2017-10-22 17:07] janishar commented on #59
@vikas-github I checked it should work.
Take this example:
https://github.com/janishar/Tutorials/blob/master/TinderSwipe/app/src/main/java/test/mindorks/swipe/tinderswipe/TinderCard.java

Replace with:
[code]

[2017-10-22 17:35] janishar commented on #60
@Tokimu
You can get the view reference through @SwipeView.
[code]
But Currently API don't exist that will tell if the below card has come to the top. I will try to add this API in the next release.

[2017-10-22 22:26] Tokimu commented on #60
Thanks for your answer!
Can't wait for the next release then, i think it will be very useful feature :).

[2017-10-24 07:52] quiet324 opened #61 "MultiChoice Support"
Dear Janishar,
       Thanks For Your Great Work.
       I am enjoy using PlaceHolderView.
       I wonder if PlaceHolderView support "MultiChoice".
       Thanks!

[2017-10-24 09:27] cpsarathe opened #62 "Multiple Child"
Thank you for your great library!

regarding ExpandablePlaceHolderView
how can I add different child views?

[2017-10-26 20:41] Tokimu opened #63 "Memory leak on card swipe"
Hey, i'm having problems with memory leaks in my app. On my cardView (like tinder) i'm using glide to load pictures and i'm setting up some view parameters,  i'm also using private method to play some animations, in this method i'm passing view reference (the one annotated by @View) in arguments. In this method there is LayoutInflater from which i take view reference. Code looks similar to the one

[2017-10-28 05:23] janishar commented on #61
@quiet324 Yes you can add MultiChoice by adding the check boxes in the View that goes inside the PlaceHolderView

[2017-10-28 05:30] janishar commented on #62
@cpsarathe
Add the parent view and then add the child views. Child views can be different to each other.

[code]

[2017-10-28 05:38] janishar commented on #63
@Tokimu When you use `@NonReusable`  then on the card swipe the GC can collect it. If you have passed the reference to this View in some other class then make sure when `@SwipeIn` or `@SwipeOut` is called you set those references to null

Why are you using LayoutInflater?

[2017-10-28 08:49] Tokimu commented on #63
@janishar Thanks for your answer. Okay so it's good i'm using @NonReusable, i think this view i get from LayoutInflater is not collected by GC. I need LayoutInflater to get the reference of the View from different Layout file than my card is using, i couldn't manage to get it using @Layout or @View annotations.

[2017-10-28 10:52] abdullo211 opened #64 "Laggy"
When add view more than 30-40 app laggy
Sample addviews code:
` private fun addViews(plans: ArrayList<Plan>) {
        plans.map { market -> placeHolderView.addView(PlanMarketView(context, market)) }
        showHideNoDataLayout(placeHolderView.viewResolverCount == 0)
    }
`

[2017-10-28 13:55] janishar commented on #64
@abdullo211 Have you set the display count.
[code]

[2017-10-28 16:56] abdullo211 commented on #64
But in placeholder view builder is no such method `setdisplayViewCount()`

[2017-10-28 17:01] janishar commented on #64
@abdullo211 Okay I thought you are using SwipePlaceHolderView. In the case of PlaceHolderView you should apply the same strategy with that of RecyclerView. Like Cache and View Pool.

[2017-10-28 19:44] Tokimu commented on #63
Do you know any other way to get reference to the view from other layout than the one annotated by @Layout?

[2017-11-02 10:43] abdullo211 opened #65 "Change default view adding animation"
How to change default adding animation to placeholder view(only adding animation)

[2017-11-02 10:45] abdullo211 commented on #64
Thanks your answer, I'll try to optimize recyclerView

[2017-11-02 10:45] #64 closed

[2017-11-02 23:42] MalikErramli opened #66 "tinder like swipe"
i implemented the tinder like swipe, however what im trying to achieve is the ability to vertically go through the user picture in the card. do you have any pointers on how to do this ? thank  u

[2017-11-09 11:45] Tokimu opened #67 "Adding blur effect"
Is it possible to add blur effect to an imageView on a Tinder card? Whenever i do it i get memory leak of blurred bitmap. I tried to use many libriaries to add blur effect or with RenderScript but always memory is leaking.

[2017-11-13 16:10] #62 closed

[2017-11-13 16:10] #61 closed

[2017-11-13 17:14] janishar commented on #66
@MalikErramli If you want to have only the vertical swipe then use this:

[code]

[2017-11-13 17:22] #52 closed

[2017-11-16 08:32] EMIN3M1986 commented on #34
https://stackoverflow.com/a/47324896/4468776

[2017-11-16 11:35] CyberMike97 opened #68 "Child Item in reverse order using ExpandablePlaceHolderView"
When i add child item in ExpandablePlaceHolderView, the items are added in reverse order. I checked also my collection and is ordered.

[2017-11-18 23:30] ltthuc1989 commented on #68
i have got this issue ,too

[2017-11-23 12:21] abdullo211 commented on #65
This not working:
 ` placeHolderView.layoutAnimation = AnimationUtils.loadLayoutAnimation(context,        R.anim.layout_animation_fall_down)
   placeHolderView.scheduleLayoutAnimation()`

[2017-11-25 06:33] don-prog opened #69 "Use Fragment as item class"
Hello!
I want to use `SwipePlaceHolderView` with fragment as item class(as [this class](https://github.com/janishar/PlaceHolderView#step-3-create-item-class-to-bind-and-define-view-operations)). But it seems that I can do it, but the overridden methods inherited from the `Fragment` such as `onCreate()`, `onResume()`, `onCreateView()`, are not executed when they should.
So, can I use the fragment w

[2017-12-01 17:54] janishar commented on #69
@don-prog the swipeplaceholderview has not been designed to work with fragments as item views

[2017-12-01 17:56] #66 closed

[2017-12-01 19:51] janishar commented on #68
@CyberMike97 @ltthuc1989
It has been fixed in 0.7.2 release.
Refer this: https://github.com/janishar/PlaceHolderView/releases/tag/0.7.2

[2017-12-01 19:51] #68 closed

[2017-12-01 19:53] janishar commented on #67
@Tokimu
In the 0.7.2 @SwipeHead will allow you to do this.

Refer release note: https://github.com/janishar/PlaceHolderView/releases/tag/0.7.2

Refer project example: https://github.com/janishar/Tutorials/blob/master/TinderSwipe/app/src/main/java/test/mindorks/swipe/tinderswipe/TinderCard.java

[2017-12-01 19:53] #67 closed

[2017-12-01 19:56] janishar commented on #60
@Tokimu
0.7.2 has added `@SwipeHead` for this purpose.
Refer release note: https://github.com/janishar/PlaceHolderView/releases/tag/0.7.2

[2017-12-01 19:56] #60 closed

[2017-12-02 09:59] vikas-github commented on #59
Thanks its working

[2017-12-02 09:59] #59 closed

[2017-12-02 10:01] vikas-github opened #70 "Swipe in particular direction"
How can I swipe in particular direction like below

onSuperlikeClicked {
doSwipe(SwipeDirection.TOP,true );
}

[2017-12-03 16:23] quiet324 commented on #19
Meet the same issue

[2017-12-04 06:52] rakesh1001 commented on #11
how to perform the action on adapterItem from fragment??

[2017-12-04 06:56] rakesh1001 opened #71 "Position"
how to perform the action on adapter item from the fragment ???
i have one activity and one fragment. placeholderview is place in fragment layout. And i want to click the item and inflate some layout in the activity/fragment

[2017-12-05 06:08] janishar commented on #71
Pass a Callback(Create an interface and implement in the Activity or Fragment) instance (this of Activity or Fragment) to the ViewItem class that you are adding into the PlaceHolderView. In`@OnClick` annotated method of the ViewItem call the callback method.

[2017-12-05 06:09] janishar commented on #70
This has not been implemented currently. I will put this in the future release.

[2017-12-06 12:20] abdullo211 commented on #65
I fix this, by adding custom item animator

[2017-12-06 12:20] #65 closed

[2017-12-14 01:19] Kristaps89 opened #72 "How to get Item"
How can I get the swiped item/position?
    @OnClick(R.id.acceptBtn)
    private void onAcceptClick() {
        mSwipeView.doSwipe(true);
    }

[2017-12-15 12:04] devAseemSharma opened #73 "Kotlin Support"
I was willing to use this library in kotlin environment, Is this possible for now?

[2017-12-15 14:07] iman100 opened #74 "How Click on Child on Expandable"
how Definition OnClick or LongClick for Childs of ExpandablePlaceHolderView???

[2017-12-15 14:23] abdullo211 opened #75 "ItemTouchHelper onMove"
ItemTouchHelper onMove Callback not catching. My code:
[code]

[2017-12-15 19:53] Ravi14anand opened #76 "How to set filterable and bubbling fast scrolling"
Iam bulding a contact android app and i need filterable expandableplaceviewholder with bubble fastscrolling to be used there .how to implement it . With your expandableviewholder 

Adding 

1.fast scrolling with Alfabateical bubble example

 https://github.com/timusus/RecyclerView-FastScroll

And

2.filterable like this

https://inducesmile.com/android/android-recyclerview-filter-search-functional

[2017-12-17 08:05] janishar commented on #76
@Ravi14anand RecyclerView-FastScroll could not be used because it says: "You must use FastScrollRecyclerView as your base RecyclerView"

filterable in added in the todo and will be available after some time.

[2017-12-17 16:48] abdullo211 opened #77 "Add view to position"
Hello!
I want to add viewResolver to a specific position, but this is deprecated and not working. How to add viewResolver to position

[2017-12-18 09:24] rkk027 opened #78 "swipe direction"
Hi  Janishar. sorry for my English. i want to implement only right and left direction in PlaceHolderView.can you please give me some idea to use it.thank you

[2017-12-18 09:28] Saiga04 commented on #73
I've already use this great lib in my Kotlin project. I think the author didn't mean to support Kotlin when he coding this lib but somehow it just works.

[2017-12-18 19:42] vikas-github commented on #70
can you think of any quick modification by which I can achieve this. Even if you can give some hint, I'll do some work on it and will also let you know my findings.

[2017-12-19 06:02] janishar commented on #78
Hello, you can do this by providing the SWIPE_TYPE_HORIZONTAL flag

[code]

[2017-12-19 06:11] rkk027 commented on #78
thanks for your answer.its working for me.but I need to use multiple Profile like tinder card.can you give me some idea about that, please

[2017-12-19 06:17] janishar commented on #77
You can do this using one of the below methods: `ViewResolver` is the class that is annotated with `@Layout(--)`

[code]

[2017-12-19 06:21] janishar commented on #78
@rkk027 check this release note : https://github.com/janishar/PlaceHolderView/releases/tag/0.7.0

[2017-12-19 14:01] rkk027 commented on #78
Hi Janishar.Thanks for your answer.I need to use multiple images on a single card.please can you give some ideas.

[2017-12-20 15:39] plumis1993 opened #79 "ActivatePutBack()"
I am trying to control my SwipeViews with  @SwipeOutDirectional. After I swipe up I just want the viewholder to stay in the stack without losing its position and the only way i managed to do it is by ActivatingPutBack. The problem, though, is that my swipe view stays frozen.
My Main question is: Is there a way to keep the viewholders in the stack if i swipe up or down?

[2017-12-20 22:09] AndyGOBrien commented on #73
works for me, magic

[2017-12-21 04:49] tmillettweather opened #80 "Pass a Fragment into DrawerMenuItem for onClick"
When setting up the menu in the for the drawer. How can we send the onclick repsonse to a fragment activity.  I am able to send to another activity using Intent and the context.  But wanted to send to a fragment.

[2017-12-21 08:01] janishar commented on #80
yes, either send the message through the LocalBroadcastManager or Pass the callback to the activity and then delegate the message from the activity to the fragment

[2017-12-21 08:47] plumis1993 commented on #79
Please someone help

[2017-12-21 11:12] plumis1993 commented on #79
nvm, resolved the issue.

[2017-12-21 11:12] #79 closed

[2017-12-21 11:27] devAseemSharma commented on #73
I was not sure that is this library is able to generate code with provided annotations without having kapt?

[2017-12-30 19:43] ankit78070 opened #81 "activatePutBack() function error!!!!!!"
After the cardview comes back to its position ,the cardviews becomes un-swipable. Please help!!!!!

[2018-01-02 11:31] engmagdy87 opened #82 "Click on item doesn't close the nav drawer"
when I click on item in nav drawer in activity 1 to start activity 2 then return back to activity 1, the nav drawer still opened
is there a way to close it manually ?

[2018-01-02 12:25] #82 closed

[2018-01-07 02:12] Tokimu opened #83 "Wrong card position after undoLastSwipe()"
I'm having problem that card is not going back to the initial position, but it's align to the left top corner. After moving this card a little, it will go back on the proper position tho. Is this some bug or my SwipeDirectionalView / SwipeDecor is wrong?

Like in this picture (red card is correct, blue one is after undoLastSwipe):
![26692793_1664992760228116_440984727_o](https://user-images.github

[2018-01-11 16:04] kartubi opened #84 "View can set to stack from end or anything"
i try use infiniteplaceholderview / placeholderview, to change recyclerview for chat apps, when i set LinearLayoutManager with stackFromEnd = true, reverse = true;
it's not working,
regard,
kartubi

[2018-01-12 10:08] rakesh1001 opened #85 "How to get the last click position?"
@Click(R.id.monthsday_txt)
    private void onClick() {
            monthsdays.setBackgroundResource(R.drawable.circle);
}
I have a calendar view .if click on day change the day background and reset the previous click day background.

[2018-01-15 15:54] taha7ussein007 commented on #69
@janishar i have the same issue can i use ExpandablePlaceHolderView with fragment as item class ?

[2018-01-17 13:41] orikl84 commented on #55
How do I save the state of the view before it is recycled? for ex., if the item contains an EditText

[2018-01-21 06:06] Ilovepancake opened #86 "SwipeIn and SwipeOut Callbacks not working with SwipeDirectionalView."
For some reason, the two callbacks are not running when using SwipeDirectionalView. They only seem to run when using SwipePlaceHolderView. Please fix issue.

[2018-01-21 18:02] orikl84 opened #87 "ExpandablePlaceHolderView with item expanding inside the parent item"
Hi,

Is it possible to make a list of items that when clicking on an item the item itself expands?
more like ExpandableLayout

[2018-01-25 05:23] #69 closed

[2018-01-29 06:20] janishar commented on #87
Yes in the child view set the view visibility with animation when it is clicked.

[2018-02-05 20:26] patilprajakta opened #88 "Cannot reload image after 'undo' button click. (showing empty cardview)"
Hello,
I have query regarding 'getting position of 'undo'ed item'. I am loading images from server into TinderSwipeView.
For undo action I used : setIsUndoEnabled(true) and mSwipeView.undoLastSwipe()
The problem I am facing is I couldn't get the loaded image.(It showing blank cardview).
Thanks.

[2018-02-06 18:17] rkmax opened #89 "Add an example with custom Adapter"
Hey I'm testing this library since yesterday, great job!

I think would be great if you could provide some example with an custom adapter, that include some topics like

- allow update the placeholderview
- update previously attached views

if it's possible that you have some example that cover this topics, could you please point me in the right direction, thanks in advance

[2018-02-07 14:29] saikiran143 opened #90 "When I swipe Left and Right, I want the layouts of left and right (getSwipeInMsgLayoutId() and getSwipeOutMsgLayoutId())"
We are using two different layouts, for accept and reject. They have been defined statically. I want the particular inflated view of right side(setSwipeOutMsgLayoutId()) and left side(setSwipeOutMsgLayoutId()) when we swipe. So I can update textview inside inflated layout (Left and Right).

I want update dynamically textview inside left layout and right layout while swiping. Instead of setting sta

[2018-02-10 00:25] Mrez95 opened #91 "Card Label for Up and Down Directions"
Hey guys, so currently I understand to set the text (ie. 'like' or 'dislike') for right and left swipes is by calling: ` .setSwipeInMsgLayoutId(R.layout.tinder_swipe_in_msg_view).setSwipeOutMsgLayoutId(R.layout.tinder_swipe_out_msg_view));`

However, I am currently using `SwipeDirectionalView` card to handle multiple directions and want to display texts for when users swipe up or down. Is there a

[2018-02-11 11:12] janishar commented on #89
@rkmax You can use these methods for updating the PlaceHolderView
[code]

[2018-02-11 17:44] rkmax commented on #89
I was thinking more on an example with a custom adaptar and sample of Resolve method

[2018-02-12 12:48] #77 closed

[2018-02-14 07:26] janishar commented on #55
@orikl84 Inflate the view item with a data object. Keep updating the pre filled text of that data object using TextChangeListener on the EditText.

[2018-02-16 20:27] janishar commented on #55
@orikl84 refer to below link for solution:
https://github.com/janishar/PlaceHolderView/releases/tag/0.7.3

[2018-02-16 20:27] #55 closed

[2018-02-16 20:28] #46 closed

[2018-02-16 20:28] #45 closed

[2018-02-16 20:29] janishar commented on #44
Place the ExpandablePlaceHolderView inside NestedScrollView

[2018-02-16 20:29] #44 closed

[2018-02-16 20:30] janishar commented on #38
closing this now

[2018-02-16 20:30] #38 closed

[2018-02-16 20:31] janishar commented on #56
Closing this now

[2018-02-16 20:31] #56 closed

[2018-02-16 20:33] #71 closed

[2018-02-16 20:35] janishar commented on #72
The Swiped ViewItem Class will get the `@SwipeOut` or `@SwipeIn` callback

[2018-02-16 20:35] #72 closed

[2018-02-16 20:37] #73 closed

[2018-02-16 20:42] janishar commented on #74
refer this: https://github.com/janishar/PlaceHolderView/blob/master/app/src/main/java/com/mindorks/test/gallery/ImageTypeBig.java

[2018-02-16 20:42] #74 closed

[2018-02-16 20:43] #80 closed

[2018-02-16 20:49] janishar commented on #85
Pass callback from the clicked View to the Activity or Fragment and hold that View's reference. When Next View is clicked then the activity will set the earlier clicked view with new background property and call notifyItemChanged of PlaceHolderView. Position of the View can be obtained using `@Position int position`

[2018-02-16 20:50] #87 closed

[2018-02-16 20:52] janishar commented on #17
@jjhesk
Now you can use `@Recycle` for the cleanup:
https://github.com/janishar/PlaceHolderView/releases/tag/0.7.3

[2018-02-16 20:52] #17 closed

[2018-02-19 08:09] ArturMilewskiDev commented on #91
I am also interested in this topic. Any advices?

[2018-02-19 10:50] B35000 commented on #91
Perhaps try using their swipe touch callback to calculate the direction of the card movement then use it to show the msg_views (perhaps setting its opacity).

[2018-02-20 07:25] myatmon commented on #89
I want to render only one object array list but these objects have two different keys, and I want to show two view in one placeholder view and changing view by clicking button.is there anyone known how to implements this one?

[2018-02-21 02:50] AravinthSri opened #94 "On expand not call when programmatic expand"
Everything is fine but expand icon rotate not calling on Expand method please help me...
Item is expand but icon not rotate (onExpand not calling)

ParentItem.java

  @Expand
    private void onExpand() {
        ivExpandable.setRotation(90f);
    }

    @Collapse
    private void onCollapse() {
        ivExpandable.setRotation(360f);
    }

MainActivity.java

  if (mExpandableView.getAdapter().ge

[2018-02-23 10:39] stlwin27 commented on #55
How can I make checkbox as radio button with placeholderview?

[2018-03-03 09:37] JobGetabu opened #103 "Kotlin support"
I couldn't convert the builder to kotlin in android

[2018-03-07 18:28] chandruscm commented on #103
At the moment, this is how you call it in Kotlin:

`swipeView.getBuilder<SwipePlaceHolderView, SwipeViewBuilder<SwipePlaceHolderView>>()`

[2018-03-10 02:51] hamidify opened #104 "onResolved() is not called."
onResolved() is not called in DrawerItems when using this library for navigation Drawer, running it in an emulater API 16. But newer APIs work perfectly.

[2018-03-11 11:53] subh2020 commented on #104
Hi
I want to implement  "Shared Element Activity Transition" when user clicks an image view from PlaceViewHolder Gallery example.

Is there any example available on how to implement "Shared Element Activity Transition" from OnClick for an view.
It require's the concerned view (e.g. ImageView)
e.g in file ImageTypeSmall.java  for onLongClick()
How to get the view ImageView with id "imageView"
To be

[2018-03-11 11:54] subh2020 opened #105 "How to - Shared Element Activity Transition"
Hi
I want to implement  "Shared Element Activity Transition" when user clicks an image view from PlaceViewHolder Gallery example.

Is there any example available on how to implement "Shared Element Activity Transition" from OnClick for an view.
It require's the concerned view (e.g. ImageView)
e.g in file ImageTypeSmall.java  for onLongClick()
How to get the view ImageView with id "imageView"
To be

[2018-03-12 07:42] rupertbulquerin commented on #104
same thing happened to me

[2018-03-12 18:54] hamidify commented on #104
Did You find A solution?

[2018-03-13 00:39] rupertbulquerin commented on #104
not yet but it's working on me..

[2018-03-14 11:27] hamidify commented on #104
API version?

[2018-03-17 11:33] ericfjl opened #106 "custom animation in SwipePlaceHolderView"
how to define my custom animation when the item view is moving.
I want to make a animation like iOS's UIPushBehavior or UIAttachmentBehavior
this is iOS's github url:https://github.com/summerxx27/XTmomoStyle

https://upload-images.jianshu.io/upload_images/1506501-adc0362731f1ddd5.gif?imageMogr2/auto-orient/strip%7CimageView2/2/w/320

[2018-03-20 08:26] andrei-turtsevich opened #107 "Problem with multytouch"
App crash, when tap to view and long tap to card simultaneously.

[2018-03-20 11:50] janishar commented on #107
@AndreyTurcevich can you post the stack trace?

[2018-03-20 13:02] andrei-turtsevich commented on #107
@janishar
E/InputEventReceiver: Exception dispatching input event.
E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
E/MessageQueue-JNI: java.lang.IllegalArgumentException: pointerIndex out of range
                        at android.view.MotionEvent.nativeGetAxisValue(Native Method)
                        at android.view.MotionEvent.getX(MotionEvent.java:2139)

[2018-03-21 07:52] specloli opened #108 "Unable to find constructor for com.mindorks.demo.swipe.TinderCard"
Caused by: java.lang.RuntimeException: Unable to find constructor for com.mindorks.demo.swipe.TinderCard
                                                       at com.mindorks.placeholderview.Binding.getBinderInstance(Binding.java:47)
                                                       at com.mindorks.placeholderview.Binding.bindSwipeViewResolver(Binding.java:67)

[2018-03-21 09:05] janishar commented on #108
@specloli rebuild the project

[2018-03-23 13:01] xavierpellvidal commented on #108
same problem here... rebuild and restart android stuido and clean project not working.

[2018-03-25 14:45] anshusharma13 commented on #78
Hi janishar, I need scroll inside the card, Is it possible?If Yes, then please let me know and help me out.

[2018-03-25 15:29] anshusharma13 opened #109 "i need scroll inside the item"
i think its done by removing  vertical swipe .Please let me know if there is any possiblity to smooth vertical scroll

[2018-03-26 10:03] Jay268 commented on #108
@janishar Same problem also rebuild and clean not working tried that but no luck. Can you please check into this issue. It is getting crashed immediate after launch app.

`FATAL EXCEPTION: main
                                                                 Process: com.mindorks.demo, PID: 4789
                                                                 java.lang.RuntimeException: Unable to

[2018-03-26 14:50] janishar commented on #108
@Jay268 @xavierpellvidal which android studio version you are using?
Make sure you are on android studio version 3+

[2018-03-26 14:53] xavierpellvidal commented on #108
Yes @janishar , I'm using Android Studio version 3.0.1

[2018-03-26 15:02] janishar commented on #108
@xavierpellvidal  can you provide your app's build.gradle dependencies block code?

[2018-03-26 15:48] xavierpellvidal commented on #108
Yes:

dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile('com.amazonaws:aws-android-sdk-core:2.4.+') {
        exclude group: 'com.google.code.gson', module: 'gson'
    }
    compile('com.amazonaws:aws-android-sdk-s3:2.4.+') {
        exclude group: 'com.google.code.gson', module: 'gson'
    }
    compile('com.amazonaws:aws-android-sdk-cognito:2.4.+') {
        exclud

[2018-03-26 15:51] xavierpellvidal commented on #108
Yes:

dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile('com.amazonaws:aws-android-sdk-core:2.4.+') {
        exclude group: 'com.google.code.gson', module: 'gson'
    }
    compile('com.amazonaws:aws-android-sdk-s3:2.4.+') {
        exclude group: 'com.google.code.gson', module: 'gson'
    }
    compile('com.amazonaws:aws-android-sdk-cognito:2.4.+') {
        exclud

[2018-03-26 18:25] janishar commented on #108
This error is occuring using
[code]
OR
[code]

[2018-03-27 05:09] Jay268 commented on #108
@janishar Yes i am also using android studio version 3.0.1 and i am running your downloaded project itself and it's getting crashed on app launch any suggestions ? i didn't make any changes to any of the gradle files.

[2018-03-27 07:33] xavierpellvidal commented on #108
@janishar is occurring using

`compile 'com.mindorks.android:placeholderview:1.0.0'
annotationProcessor 'com.mindorks.android:placeholderview-compiler:1.0.0'`

[2018-03-27 07:54] janishar commented on #108
I am not able to reproduce this error.

Can you try
1. tools->android->sync project with gradle files
2. build -> clean project
3. build -> rebuild project

The same issue mentioned in the butterknife.
https://github.com/JakeWharton/butterknife/issues/778

[2018-03-27 08:29] Jay268 commented on #108
@janishar Tried with above mentioned steps but still it's crashing on start of app with same exception logs.

[2018-03-27 21:45] rishi023 commented on #108
@janishar, getting the same error. Cloned the branch and built the sample app and run it, but getting the error:
Caused by: java.lang.RuntimeException: Unable to find constructor for com.mindorks.demo.swipe.TinderCard  at com.mindorks.placeholderview.Binding.getBinderInstance(Binding.java:47) at com.mindorks.placeholderview.Binding.bindSwipeViewResolver(Binding.java:67) at com.mindorks.placeholder

[2018-03-30 03:21] ericfjl commented on #108
I had the same error.

03-30 11:06:14.724 10734-10734/com.lee.hanzibishun W/System.err: java.lang.RuntimeException: Unable to find constructor for com.lee.hanzibishun.ui.wordcard.HzbWordCard
03-30 11:06:14.724 10734-10734/com.lee.hanzibishun W/System.err:     at com.mindorks.placeholderview.Binding.getBinderInstance(Binding.java:47)
03-30 11:06:14.724 10734-10734/com.lee.hanzibishun W/System.err:

[2018-03-30 03:59] ericfjl commented on #108
I had change the placeholderview:1.0.0 to placeholderview:0.7.3 ,It do work! why?

[2018-03-31 22:57] TemMax commented on #108
+. I had the same issue. Android studio 3.1 and newest gradle. (Kotlin)

[2018-04-02 17:39] janishar commented on #108
Can anyone with this issue verify that `app/build/generated/source/apt/`  for cloned `PlaceHolderView` looks similar to the below directory for `swipe` package?
debug
    └── com
        └── mindorks
            ├── demo
            │   ├── CardPresenter$DirectionalViewBinder.java
            │   ....
            │   └── swipe
            │       ├── SwipeCard$DirectionalViewBinder.java

[2018-04-02 19:49] janishar commented on #108
Please update to version 1.0.2 and verify if the issue is resolved.
@specloli @xavierpellvidal @Jay268 @rishi023 @ericfjl

This must be coming when `minify` was set to `true`. I have added the proguard rules for the same.

[code]

[2018-04-04 01:32] ndwaya commented on #109
Yeah, I am having the same problem. Once setSwipeType is set to 2, scroll works  (but it's very sensitive to touch directions)

[2018-04-05 17:54] slum44 commented on #109
I was just curious and quickly bashed together a recycler view inside of a swipe view card.  Even when I setSwipeType to horizontal only, I'm not able to scroll vertically within the recyclerview

[2018-04-08 07:56] #103 closed, assigned to nobody

[2018-04-08 07:56] #108 closed, assigned to nobody

[2018-04-10 10:13] quoc-dev opened #110 "Expandable - How can I auto scroll to the latest child item when click expand parent?"
That mean when I click the any parent I wanna see the last view of child inside! Now when i click not auto scroll so I don't see the child item!
Thanks

[2018-04-12 16:05] van-tran opened #111 "AAnnotationProcessor 1.0.2 generate to wrong .java from Kotlin"
AnnotationProcessor 1.0.2 generate all members as private in .java although they were set as non-internal in kotlin.
Is there any work around for this ?

[2018-04-13 06:52] andiakashd opened #112 "Tinder card view's design changes not affected, place holder view dosen't takes all width it wraps very thin around 60 70 dp"
Tinder card view's design changes not affected, place holder view dosen't takes all width it wraps very thin around 60 70 dp,
I have made changes to tinder_card_view, added some extra text views and small images,
m I missing anything or I can not change view,
My layout's root view is contraintLayout, which has  one CardView and one Linear layout under beneath

[2018-04-13 07:02] janishar commented on #112
refer this link:
https://github.com/janishar/Tutorials/blob/master/tinder-swipe-v2/app/src/main/java/dependency/greendao/test/tinder/directional/MainActivity.java

See these codes:
[code]

[2018-04-15 07:13] janishar commented on #111
@musicdotexe use `lateinit `
Refer this project for example:
https://github.com/janishar/tutorials/blob/master/tinder-swipe-kotlin/app/src/main/java/tinderswipe/swipe/mindorks/demo/TinderCard.kt

[2018-04-15 07:13] #111 closed, assigned to nobody

[2018-04-17 18:17] kirillsun1 opened #113 "Unable to find Class for ...$ViewBinder"
Hey there,

I faced such problem:
[code]

But everything in build.gradle seems to be ok:

[code]

I am not sure, but this seems to be a bug.

Gradle: 3.1.1

My project files:

MainActivity:
[code]

SomeElement:
[code]

item.xml:
[code]

Thank you!

[2018-04-17 18:47] janishar commented on #113
Hi @kirillsun1 for kotlin please refer this example:
https://github.com/janishar/Tutorials/tree/master/tinder-swipe-kotlin

you need to use `kapt` in place of `annotationProcessor `
and use `lateinit` var
[code]

[2018-04-17 18:57] kirillsun1 commented on #113
Thank you!

[2018-04-17 18:57] #113 closed, assigned to nobody

[2018-04-18 05:54] anshusharma13 commented on #109
@slum44  if you will find the  solution then let me know please

[2018-04-19 16:52] gian123 commented on #35
I have the same issue ,were you able to solve the problem?

[2018-04-21 06:53] Yellu opened #114 "java.lang.RuntimeException: Unable to find Class for com.mybataz.contest.h$SwipeViewBinder"
04-21 12:06:20.460 1418-1418/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: bataz.com.bataz, PID: 1418
    java.lang.RuntimeException: Unable to start activity ComponentInfo{bataz.com.bataz/com.mybataz.contest.RateNowActivity}: java.lang.RuntimeException: Unable to find Class for com.mybataz.contest.h$SwipeViewBinder
    PLEASE ADD >> annotationProcessor 'com.mindorks.android:placeholdervi

[2018-04-21 07:12] Yellu commented on #114
App crashing, in signed apk build, anyone please help me

[2018-04-22 06:24] janishar commented on #114
@Yellu Which library version you are using?

use 1.0.2+ version
[code]

[2018-04-22 08:51] Yellu commented on #114
@janishar, using kotlin supported versions (1.0.2)

compile 'com.mindorks.android:placeholderview:1.0.2'
kapt 'com.mindorks.android:placeholderview-compiler:1.0.2'

in debug build it is working without any problem, but in signed apk with progaurd, it is crashing

[2018-04-22 19:13] janishar commented on #114
@Yellu
It is fixed. Upgrade to version 1.0.3
[code]

[2018-04-23 06:19] Yellu commented on #114
Thank you @janishar

[2018-04-23 06:19] #114 closed, assigned to nobody

[2018-04-26 09:46] c-b-h opened #115 "What was the main reason for going with the annotation based adapting?"
Hi,

Looking around various libraries for achieving Tinder-like swipe, I came across your `SwipePlaceHolderView` but the more I look at the code the more I find it cumbersome to integrate with our current architecture. Most other similar libraries use a form of `Adapter`-approach were `View`s are created and bound. This allows developers to pick whatever binding library (ButterKnife, Android Data

[2018-04-30 15:35] janishar commented on #115
SwipePlaceHolderView removes most of the boilerplate code. The main motivation for this kind of approach is to eliminate any external dependency and make is self contained.
For using swipe placeholderview, there are 3 simple steps:
1. Define the item view xml layout
2. Create the class that servers as the itemview holder.
3. Configure the swipedecor and builder (if needed)

You can find the docs h

[2018-04-30 19:30] HandsomeCoder opened #116 "Unable to find constructor for HeadingView"
[code]

I have error that unable to find constructor when there is constructor in headindView and it is accessable

[code]

[2018-04-30 20:19] janishar commented on #116
@HandsomeCoder what is the library version you are using?
Please use >= 1.0.3

[2018-05-09 20:48] #116 closed, assigned to nobody

[2018-05-11 14:04] ekrmh opened #118 "lateinit property has not been initialized"
Sometimes i had  "has not been initialized "
[code]

[2018-05-16 01:36] NaveenDevrani opened #119 "How to find current user id which is show on the first card Position"
How to find current user id which is show on the first card Position.....
i try to get but the id  got the 3rd position cardview .... but i want to get the position of  first card which show  currently

[2018-05-16 01:37] NaveenDevrani commented on #119
please sir replay me , very fast

[2018-05-16 01:46] NaveenDevrani opened #120 "Problem :-to got the current user id which show current in the ImageView"
How to find current user id which is show on the first card Position.....
i try to get but the id  got the 3rd position cardview .... but i want to get the position of  first card which show  currently

 @Resolve
    private void onResolved()
    {

        if(mProfile.getImage() != "")
            Glide.with( activity )
                    .load( mProfile.getImage() )
                    .placeho

[2018-05-16 06:34] janishar commented on #120
@NaveenDevrani Use `SwipeHead` for this
[code]

[2018-05-16 06:35] janishar commented on #119
Refer #120

[2018-05-17 01:33] NaveenDevrani commented on #120
thnkqq so much sir...
 you are  awesome sir...  and    your library  is also awesome....

[2018-05-17 02:18] NaveenDevrani commented on #120
@janishar   sir, i need one more  help. sir.....
   it is posible to   create a functionality like tinder ..
 in one  cardview show multiple  image of single  user  and

 when i click the  image or card view   ,i can see all image the  of the user.....  and also  show the indicator  which show  the no. of image of the  user same as tinder

ssir i sent a video on mail....   .. i m showing on video

[2018-05-17 02:27] NaveenDevrani commented on #119
@janishar   sir, i need one more  help. sir.....
   it is posible to   create a functionality like tinder ..
 in one  cardview show multiple  image of single  user  and

 when i click the  image or card view   ,i can see all image the  of the
user.....  and also  show the indicator  which show  the no. of image of
the  user same as tinder

ssir i sent a video on mail....   .. i m showing on video

[2018-05-17 20:10] ondrejbudai opened #122 "SwipePlaceHolderView with only text hasn't fixed width"
I need to use SwipePlaceHolderView to display cards consisting of only text. I would like the text to span over as much width as possible (90% of screen width). I tried the following method, but the card is acting weirdly: It's wider when I swipe the card to the left and is narrower when I swipe the card to the right. Consequently this makes the TextView to often change text wrap. Am I doing somet

[2018-05-19 18:12] PrasandP opened #123 "Swipe Card Swipping"
Hi,

How can I customize this library, not to swipe vertically. My need is that I need to swipe only left and right like and arc curve.

[2018-05-23 22:29] debugman5 opened #124 "add a list of views and onLoadMore is called after adding view"
Hi,

There are two issues I see:

1. I can't add a list of views and then notify data inserted for those views, right now after each addView there is a call to notifyDataInserted and I don't think its very efficient.

2. When using InifinitePlaceHolderView, after adding the first item(s), onLoadMore is called without scrolling. maybe related to the first issue.

[2018-05-24 07:09] hemantskycap opened #125 "How to enable databinding?"
Can we use Android databinding feature with PlaceHolderView?

I have some already created xml views using databinding and now I want to use those files as it is with PlaceHolderView. Is that possible?

Thanks!

[2018-05-24 08:07] #118 closed, assigned to nobody

[2018-05-24 10:31] equilizer commented on #16
Hi, can i use VideoView widgets instead of ImageView and use swipe left and right to pause a video and start the next video at the same time ..please help

[2018-05-26 06:01] janishar commented on #122
@ondrejbudai This might help
https://medium.com/@janishar.ali/modifying-android-tinder-swipe-view-example-to-support-auto-resize-94f9c64f641e

[2018-05-26 06:11] janishar commented on #125
@hemantskycap You can provide the view id's not the instances from data binding. So no you can't use data binding.

[2018-05-26 06:11] #125 closed, assigned to nobody

[2018-05-26 06:13] janishar commented on #124
@debugman5 Will add support for the list of views addition in the future release

[2018-05-26 06:25] janishar commented on #123
@PrasandP You can use `swipeView.getBuilder()
        .setSwipeType(SwipePlaceHolderView.SWIPE_TYPE_HORIZONTAL);`
It will make card swipe able  in left-right direction but it will not allow in arc curve.

[2018-05-26 06:27] janishar commented on #120
@NaveenDevrani You can add multiple images in the card but can not use a list view.

[2018-05-26 06:27] #119 closed, assigned to nobody

[2018-05-26 06:27] #115 closed, assigned to nobody

[2018-05-26 06:28] #112 closed, assigned to nobody

[2018-05-26 06:31] janishar commented on #109
@anshusharma13 @slum44 @ndwaya
SwipePlaceHoldeView don't have the functionality of using list view inside Cards yet.

[2018-05-26 06:31] #109 closed, assigned to nobody

[2018-05-26 06:38] janishar commented on #106
@ericfjl Custom animation for SwipePlaceHolderView is not available yet.

[2018-05-26 06:38] #106 closed, assigned to nobody

[2018-05-26 06:41] janishar commented on #90
@saikiran143 Will add this feature in the future release.

[2018-05-26 06:41] #90 closed

[2018-05-26 06:44] janishar commented on #88
@patilprajakta Currently only last card swipe can be reverted. The entire history undo is under development.

[2018-05-26 06:46] janishar commented on #86
@Ilovepancake These callback wont work. There are new callbacks for this view.
refer doc here: http://janishar.com/PlaceHolderView/docs/sdv-view-definition.html

[2018-05-26 06:46] #86 closed

[2018-05-26 06:46] #85 closed

[2018-05-26 06:51] janishar commented on #83
@Tokimu Is it still happening with
com.mindorks.android:placeholderview:1.0.3

[2018-05-26 06:53] janishar commented on #78
@anshusharma13 The Scroll View inside card is not yet supported

[2018-05-26 06:53] #76 closed

[2018-05-26 10:04] bonjourrohit89 opened #126 "Infinite placeholder view noMoreToLoad() method not working"
Hi Janishar,

I am using Infinite placeholderview but when I am calling noMoreToLoad() of infinite placeholderview then load more view also showing. Can you please tell me how can I remove that loadmore view when user has fetched all items from array?

[2018-05-28 04:27] NaveenDevrani commented on #120
sir how can i implement multiple image in the card ......     if you have a demo code for this problem ... so sir please send me..........  please

[2018-05-28 14:08] PrasandP commented on #123
Is it possible to change cancel state degree angle which means position level like tinder app

[2018-05-30 11:14] RadoVidjenGost opened #127 "Only swipe left?"
Hi there, is it possible to implement only the left horizontal swipe? Thanks in advance.

[2018-05-31 08:23] janishar commented on #127
@RadoVidjenGost  You can have left-right horizontal swipe but not only left.

[2018-05-31 08:27] RadoVidjenGost commented on #127
Thank you for your fast answer :) Is it possible to fix that? For example add some method taking the direction in which we want to swipe?

[2018-06-04 23:48] mirmibrahim opened #128 "Issue on Callbacks"
Hello ,
Only cancel callback works if i set the direction to vertical only .While if i change it to default it works.
Kindly look into it because i need only vertical gestures and it shows my no callback. thanks

  dataBiding.swipeView.getBuilder()
                                .setDisplayViewCount(allDeals.size())
                                .setSwipeType(SwipePlaceHolderView.SWIPE_TYPE_VER

[2018-06-07 12:07] sumitrvi opened #129 "How to change the color(Highlight) of particular menu when user click on menu"
In navigation drawer when user click on any specific menu then that menu should be shown selected
How do we do this by using your library...??please help me to figure out this solution.

[2018-06-07 19:26] mirmibrahim commented on #128
@janishar Can you help on it . Please

[2018-06-08 09:41] janishar commented on #128
@mirmibrahim I find that you are using SwipeDirectionalView in place of SwipePlaceHolderView so you should use this callback:

[code]
Refer this for complete callback docs: http://janishar.com/PlaceHolderView/docs/sdv-view-definition.html

[2018-06-08 09:46] mirmibrahim commented on #128
Yes i am using this callback. But nothing happens. Not even this log shows the log.That is the problem . if the callback was working then everything was fine for me. @janishar

[2018-06-08 10:18] janishar commented on #128
Okay I will check and revert back tonight

[2018-06-08 10:29] janishar commented on #128
@mirmibrahim Apologies for the wrong answer. The SwipeDirectionalView does not override for Horizontal and Vertical swipe types. You will have to use these callbacks:
[code]

[2018-06-11 23:21] Shatrujeet opened #130 "doSwipe() for a particulare direction?"
Hello,I wanted to know how to use doSwipe() for a particulare direction,right now it just throws the card in the south east direction.Also,any way to insert a view in the middle of the stack?

[2018-06-11 23:53] Shatrujeet commented on #130
Also,disableTouchSwipe() works fine but if we try to swipe over the screen after using the function,the cardView locks up disabling any custom listeners,any solution for that?

[2018-06-12 17:13] mirmibrahim commented on #128
it Worked. Thanks

[2018-06-12 17:13] #128 closed, assigned to nobody

[2018-06-14 11:01] petya0111 opened #131 "ExpandablePlaceHolderView to be set to open"
What property should I use to make always expanded my list and set to open?

[2018-06-15 16:19] vodre commented on #118
why is this issue closed? what was the solution?

[2018-06-18 10:39] janishar commented on #131
@petq01 remove `@SingleTop` from the parent class.

[2018-06-18 17:16] parasjain1 commented on #37
@janishar Is the functionality to perform multiple undos now available?

[2018-06-21 08:10] petya0111 commented on #131
I have removed it, but not working. Nevermind... Great library man!

[2018-06-21 08:39] #131 closed, assigned to nobody

[2018-06-21 11:00] vinayapporio opened #132 "How to get spinner item in position."
I have a placeholder that contains a spinner. So i want to get the position of the clicked item. But @Click() method gives error 'that you cant use onclicklistener on adaptervire, use onitemclicklistener', and using setOnItemClickListener on spinner isnt wrking.

Please any proceeding will be helpful.

[2018-06-21 12:02] vinayapporio opened #133 "Update holder within another holder"
I have two 2 holder in a Parent holder. So after some condition i want to update a child placeholder within another child placeholder without passing Parent Placeholder in constructor.

Is it possible.?
Otherwise how can i do it after passing parent placeholder too.?

[2018-06-21 14:36] janishar commented on #37
@parasjain1 No! it is not available currently.

[2018-06-22 16:25] iamdeadman commented on #56
Facing similar issues here, when I set the visibility for some items based on the data value they disappear after scroll and when they are recreated using the resolve method. I suspect that the data from the class level variables is getting lost when the Resolve method is called after scrolling.

For example to give you a reference -
I have a child view for a placeholder setup list this -

[code]

[2018-06-23 07:37] janishar commented on #56
@iamdeadman Please check the ` location ` field. Let me know how you are storing location? Also, put a debug flag in `onResolve` to see if `mSummary`  is null or not and post me the findings.

[2018-06-25 12:43] RozinaDarediya opened #134 "Not getting callback for SWIPE_TYPE_HORIZONTAL..."
Hi @janishar

In my project I have used this framework. I want to allow user to swipe only Left or Right and not Top and Bottom.

I looked at [#123](https://github.com/janishar/PlaceHolderView/issues/123)  and set
_**.setSwipeType(SwipePlaceHolderView.SWIPE_TYPE_HORIZONTAL);**_

And yes it only swipe to left or right but I am not getting any callback (i.e onSwipeInDirectional, onSwipeOutDirectiona

[2018-06-25 13:01] janishar commented on #134
@RozinaDarediya
Use these callbacks for only two directions constrained movement:
[code]

[2018-07-05 12:12] orikl84 opened #135 "Cannot assign value to final variable"
I have an placeholderview item class that implements Parcelable.

After updating to version 1.0.3 I get an error: Cannot assign value to final variable CRAETOR.

removing the final fixes the problem for now, but I think is a workaround

[2018-07-06 20:03] scorlingonzalez opened #136 "illegal use exception with @layout annotation"
i am getting an illegal use exception when i add the @layout annotation. i have literally just copied and pasted to code to make sure everything was exact but it just wont compile when i have this line of code
@layout(R.layout.resource)

i get : this library only supports annotation on public, protected or local. use with private is not supported

[2018-07-09 04:24] scorlingonzalez commented on #136
had to make all fields and methods public due to library annotation requirements

[2018-07-09 04:24] #136 closed, assigned to nobody

[2018-07-13 05:50] erishiraj opened #137 "How to know how many mSwipeView swap"
Hi,
First of all, I say thanks for this very help library.
I am trying to achieve that how to know how many I have already Swipe View From ArrayList.
and I try to show some empty state if not data present in swipe please help me to finger out
Thanks

[2018-07-14 04:14] #134 closed, assigned to nobody

[2018-07-14 04:16] janishar commented on #137
@erishiraj You can use ItemRemoveListener
http://janishar.com/PlaceHolderView/docs/sphv-view-operations.html#item-remove-listener

[2018-07-14 04:25] janishar commented on #135
@orikl84 Thanks for finding this. I will fix this in the new release.

[2018-07-17 09:19] mpontus commented on #114
I keep having this exact problem even after updating to the latest version:

[code]

I managed to get around it by adding the following line to `proguard-rules.pro`:

[code]

[2018-07-30 09:29] ajeett1 opened #138 "Count of remove and accepted swipes"
Hello, I have a query...
How can we get the total count of removed and accepted cards

[2018-08-01 09:02] interkenny opened #139 "InfinitePlaceHolderView1.0.3 in kotlin is old version code?"
Hello.

I'm using InfinitePlaceHolderView in kotlin.
And cradle file like this

But there is no **setPaginationMargin** method.
I thing it is not new version.

[2018-08-07 00:10] Latuile09 opened #140 "Add new SwipeTop/SwipeDown events"
Hi,

Is it possible to change the "events" when swiping top like the super like tinder and also down ? Cause I would like to add 2 different events in my app while swipping these 2 directions.

Cheers

[2018-08-07 01:49] Latuile09 commented on #91
Did anyone find something to do it ?

[2018-08-07 06:42] janishar commented on #140
@Latuile09 You should use SwipeDirectionView for these events:
https://janishar.com/PlaceHolderView/docs/sdv-intro.html

[2018-08-07 06:46] Latuile09 commented on #140
@janishar Thanks for your response !
Yes i tried it but still the only events that are deployed are the SwipeIn and SwipeOut. So even if I use SwipeDirectionView, how could i call new events for example "SwipeTop" and "SwipeDown" ?
Sorry for maybe being a bit "idiot" but it's my first app haha

[2018-08-07 07:03] janishar commented on #140
@Latuile09 You need to supply these callbacks to SwipeDirectionalView

[code]

[2018-08-07 07:07] janishar commented on #140
@Latuile09 Refer to this example: https://janishar.com/PlaceHolderView/blog/2018/3/12/tinder-swipe-v2.html

[2018-08-07 07:09] Latuile09 commented on #140
@janishar Okay thanks for you answer ! I'll try it and get back to you if I still have issues 👍

[2018-08-07 16:24] thomasweisend opened #141 "Fling?"
Is there a way to allow the fling gesture when swiping through the cards?

[2018-08-08 06:46] Latuile09 commented on #140
@janishar Thanks for your help. Last question, is it possible to display different text like "SuperLike"  when having these swipping up/down ? Instead of having only "Like" or "Dislike" calling .setSwipeInMsgLayoutId and .setSwipeOutMsgLayoutId.

[2018-08-08 21:01] Pomis opened #142 "Can not annotate with R constants"
Having strange bug:
Trying to use it like this
[code]
But Studio underlines all R.layout/R.id usages and says that An annotation argument must be a compile-time constant. If I try to compile, I get:
[code]

If I use generated constants it fails with runtime exception (res not found)
[code]

Used versions:
[code]
If I use old version (0.7.3) I have the same issue
Used plugins:
[code]
kotlin version

[2018-08-16 09:13] djavid commented on #118
Have the same issue, every time have to clean project, else is not working, why is this happening?

[2018-08-20 09:48] TusharSri commented on #107
Any help would be appreciated, Me to getting same stack trace and crash

[2018-08-20 10:52] janishar commented on #107
@TusharSri I am looking into this... are you using SwipePlaceHolderView or SwipeDirectionalView

[2018-09-04 06:24] shiprasinghal1 commented on #11
Hello,
I want to update a child in particular parent in different fragment than the fragment where Place Holder view is initialized/populated. I am unable to find any particular method in PlaceHolderView class for same.
Can you please suggest something. Thanks

[2018-09-05 17:00] vodre commented on #118
This is a kotlin solution that worked for me:

@View(R.id.myView)
    @JvmField
    var imageView: ImageView? = null

[2018-09-25 07:44] Menris commented on #118
Facing the same problem. @vodre answer doesn't help

[2018-09-27 18:29] vodre commented on #118
@Menris you should be seeing at least a different type of error since you are actually gettin rid of the lateinit vars . Make sure you are doing the same for ALL of your variables.

[2018-09-28 07:22] Menris commented on #118
@vodre I was facing another problem when I've putted @JvmField only for toggleIcon. Doing it for all variables did the work. Thanks!

[2018-09-28 12:59] hanming223 opened #143 "How to expand multiple items on ExpandablePlaceHolderView"
When I expand an item,  currently expanded item collapses.  How to prevent this?
I want to expand multiple items.

[2018-09-28 15:00] janishar commented on #143
@hanming223 remove `@SingleTop`
Refer this: https://janishar.com/PlaceHolderView/docs/ephv-parent.html#docsNav

[2018-09-28 15:01] #143 closed

[2018-09-29 10:40] hanming223 opened #144 "How to detect specific HeadingView is clicked and prevent expanding/collapsing on ExpandablePlaceHolderView?"
I want to detect specific HeadingView is clicked and prevent expanding/collapsing when it is clicked on ExpandablePlaceHolderView.

[2018-09-29 11:08] hanming223 commented on #143
It works.  Thank you.

[2018-10-09 23:38] dnnyg33 commented on #142
did you ever get this working? i'm surprised no one else has mentioned this issue since it immediately happened when i tried to use the project.

[2018-10-10 01:38] Pomis commented on #142
No I decided to use vanilla RecyclerView in that project. Maybe issue was caused by multi module architechture, I don't know

[2018-11-02 19:31] huynguyenwork86 commented on #138
onSwipedOut is called when a card is swiped out
onSwipeIn is called when a card is swiped in
Use them to count.

[2018-12-12 23:26] hectorviov opened #145 "Error on InfinitePlaceHolderView when creating the fragment's view"
Hello, I'm trying to implement the InfinitePlaceHolderView but I'm having an error when trying to start the fragment.

I get this error:

` java.lang.RuntimeException: Unable to find Class for [....] Fragment$1$LoadMoreViewBinder
    PLEASE ADD >> annotationProcessor 'com.mindorks.android:placeholderview-compiler:<LATEST-VERSION>' << in build.gradle
        at com.mindorks.placeholderview.Binding.

[2018-12-29 14:59] satadii11 opened #146 "@View field is null"
Hey this is my code

[code]

There is nothing wrong with this code few hours ago. But now, i don't understand myself the tvInterest is null while the ivInterest is not. Why is that problem occured? How do i solve it? I've tried to make likedListener and dislikedListener to @JvmField, it doesn't work. I've also tried to use lateinit modifier, it make my apps force close.

Really appreciate your hel

[2019-01-16 05:04] AnuradhaGHegde opened #147 "How can i change the animation when user swipes down"

[2019-01-28 14:42] dhruvgajwa opened #148 "Can I set card length longer than default screen size using scroll view?"
Is there any way for cards to be longer than default screen length? I tried applying scrollview inside frame layout and setting only horizontal swipe! but this didn't seem to work! Any help would be appreciated. And thank you so much for this awesome library!

[2019-02-04 11:39] afrussel opened #149 "Event when all cards Swiping completed?"
Is there any events where I can add a toast message after all cards swiping completed? Urgent help needed

[2019-02-04 21:07] desaianand1 commented on #114
Also using version 1.0.3 , getting the same error:
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: edu.rosehulman.whodoyouknowhere.whodoyouknowhere, PID: 17287
    java.lang.RuntimeException: Unable to start activity ComponentInfo{edu.rosehulman.whodoyouknowhere.whodoyouknowhere/edu.rosehulman.whodoyouknowhere.whodoyouknowhere.MainActivity}: java.lang.RuntimeException: Unable to find Class f

[2019-02-05 07:04] programmerpinggiran opened #150 "consuming time for add new cards in the stack"
Hello Janishar,
First of all, thanks for this great library, really appreciate it.

but i have problem
1. I have a stack of 3 cards: A, B and C added in this order.
2. When Card A removed, then B animate scale to replacing A position.
3. the process B to A position its consuming some time, so when user doing fast swipe between card, but Card B not yet to A posisiton.. so its look laggy.

what i wa

[2019-02-06 06:36] janishar commented on #150
@mcsentul You are testing on which device?

[2019-02-06 06:38] janishar commented on #149
@afrussel Refer this:
https://janishar.com/PlaceHolderView/docs/sphv-view-operations.html#item-remove-listener

[2019-02-06 06:41] janishar commented on #148
@dhruvgajwa Refer this:
https://medium.com/@janishar.ali/modifying-android-tinder-swipe-view-example-to-support-auto-resize-94f9c64f641e

Try using this to see if it works:
[code]

[2019-02-06 06:46] janishar commented on #147
@AnuradhaGHegde
Try using `@SwipeOutDirectional` to detect swipe direction BOTTOM. Then animate the view using a reference to the root view using `@SwipeView`

Refer doc: https://janishar.com/PlaceHolderView/docs/sdv-view-definition.html

[2019-02-06 08:40] programmerpinggiran commented on #150
@janishar im using xiaomi redmi note 5pro..

Or this case because 2.25*animationtime inside doSwipe function?

[2019-02-06 09:05] programmerpinggiran commented on #150
@janishar trying change animationtime, but the case still exist.

[2019-02-08 11:30] afrussel commented on #149
Thanks for your help

[2019-02-15 13:25] BastianMeyerPremorrow opened #151 "TinderSwipe using VideoView instead of ImageView?"
Hello!
This library looks promising but I have a question:

Is it possible to make swipe cards but with a VideoView?
And only the top card should play. Is there a function to solve this?

[2019-02-15 20:49] BastianMeyerPremorrow opened #152 "Resources$NotFoundException"
Hello again!
I followed your tutorial (https://blog.mindorks.com/android-tinder-swipe-view-example-3eca9b0d4794) and got an exception that I don't understand.

### First the exception:

[code]

### Class Answers (The Activity class)

[code]

### Error Line
[code]

### Class Card
[code]

### Activity Answers XML Layout File
[code]
I also added "SwipeView" to the activity xml. So i really don't know

[2019-02-15 20:58] #152 closed, assigned to nobody

[2019-02-16 04:53] janishar commented on #151
Yes videoview can be used.
use can use `@SwipeHead` callback to start playing the video view currently on top:
Refer the doc: https://janishar.com/PlaceHolderView/docs/sphv-view-definition.html#top-of-stack-callback

[2019-02-16 09:25] #151 closed, assigned to nobody

[2019-02-16 14:59] rmpt opened #153 "InfinitePlaceHolderView loading more at the top"
Hi Janishar, great job!
I'm trying to implement a messages view, so the orientation of the loading must be inverse of the  default. The idea is when I reach the top of the list the load more view quicks in and @LoadMore is called so I append items to the top of the InfinitePlaceHolderView.
Can you help me to do this, I've been looking into your code but seems that the load more feature only works

[2019-02-20 08:29] aakashbhusal7 commented on #11
how to get the position of child view. I need to increment the symbol number for list of data from child view.

[2019-02-26 11:25] KJGohel opened #154 "Can i create multi level expansion?"

[2019-02-27 06:36] deepaknetset opened #155 "Add swipe up action from button"
How to add other event like we accept user and reject user from button. I want to add another button "Super Like" which perform the card move to up.
On touch i successfully achieve this but now i want do this with button.

Thanks

[2019-02-28 02:43] programmerpinggiran commented on #150
I have found a solution, basicaly i was doing so much work on onSwipeHead() thats make looks laggy

thanks for great library

[2019-02-28 13:33] #149 closed, assigned to nobody

[2019-02-28 13:35] janishar commented on #150
@programmerpinggiran Thanks! Closing this issue now.

[2019-02-28 13:35] #150 closed, assigned to nobody

[2019-02-28 13:38] janishar commented on #153
@rmpt Can you try this
[code]

[2019-02-28 13:40] janishar commented on #154
@KJGohel  No, it will be very inefficient solution to use this library for multi level expansion use case.

[2019-02-28 13:40] #154 closed, assigned to nobody

[2019-02-28 13:45] janishar commented on #155
@deepaknetset Programatically doing swipe in a particular direction has not yet build in the library and I would welcome the community to provide **Pull Request** if anyone wants.

[2019-03-09 18:26] rmpt commented on #153
thanks @janishar ! I only test it now but setStackFromEnd did the trick! thank you so much.

[2019-03-14 14:57] Peda1996 opened #156 "ViewPager for setting dynamic images"
I want to add a ViewPager for changing the images in SwipePlaceHolderView. Is this somehow possible?

[2019-03-16 10:18] Luuk99 opened #157 "Change swipe in and swipe out messages"
Hi,

Is there a way that I can change the swipe in and swipe out messages along the way?
I instantiated a swipeview builder  in the onCreate function of my activity but I want to change the messages after the first swipe.

I tried placing this in an itemRemovedListener (which works, that's now the problem):

                    mSwipeView.getBuilder()
                            .setSwipeDecor(new

[2019-03-17 05:23] iamkdblue opened #158 "How to load previous item in TinderActivity?"
right now, it's going only 1 item previous, I want to previous until the first item, how can I do?

Thanks, dev for this library :D

[2019-03-31 03:03] ramseth001 commented on #15
@janishar I am looking for this feature. I was wondering whether this is implemented?

[2019-03-31 04:01] ramseth001 commented on #15
Sorry. Just found out swipeView.disableTouchSwipe();

[2019-04-04 19:16] joncolon opened #159 "SwipeCancelState called when dragging a clickable view..Disables further interaction"
I'm using SwipePlaceHolderViews to display questions in a trivia app. Swiping is disabled, but when a user drags a button on the SwipePlaceHolderView, SwipeCancelState is called and prevents further interaction with the view. This essentially ends the game.

I was able to recreate this issue in the Tinder Swipe Kotlin example by:

- Disabling Swipes
- Showing a toast on profile image clicks
- Perf

[2019-04-25 04:01] hafiz013 opened #160 "How to make swipe three direction in case i have three button"
Hi guys, I new here, my question is that if let say below placeholderswipe i got three button which are dislike, fav, like. How to make animation on left (for dislike button), right (for like button) and Top (for fav button) when click those three button.

Below here sample code that I did but I could not found for swipe top for fav button.

`mSwipeView.getBuilder()
                .setSwipeType(S

[2019-05-03 22:21] ArturoHerrera commented on #74
how do you resolve that? i need to implement an onclick listener on childs items

[2019-05-04 16:15] ArturoHerrera commented on #144
how do you resolve that?

[2019-05-04 16:15] ArturoHerrera commented on #129
how do you resolve that?

[2019-05-04 16:16] ArturoHerrera commented on #110
how do you resolve that?

[2019-05-14 12:37] thphuoc commented on #142
I have the same issue

[2019-05-19 14:29] zouhir98 commented on #107
help i hv same error whene in shoce SwipeRefreshLayout

[2019-06-04 10:26] gauraviqlance opened #161 "SwipePlaceHolderView"
It is not work around scroll-view or nested scroll view  to swipe direction and also not showing long view in fragment class to cut some view portion of card view items.

(Put SwipePlaceHolderView on inside the scroll view so you can understand what is happening and also check long view so it is not showing full view of card in fragment class. of bottom navigation Bar.)

[2019-06-16 22:27] ChampIsMe commented on #114
This is not working for me yet am using same and exact versions, or does it have issues in androidX? I have same error

[2019-06-28 21:25] jas10022 commented on #142
has anyone fixed this issue yet?

[2019-06-28 22:05] jas10022 commented on #118
I am having this same issue on Android is there a solution to this yet because Iev been stuck on this for a while.

[2019-07-10 06:19] ilaxopavan opened #162 "Card not properly shown if provide width and height match parent"
here is the code ,card got srinc
<?xml version="1.0" encoding="utf-8"?>
<FrameLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layout_marginBottom="50dp"
    android:orientation="vertical">
    <android.support.v7.widget.CardView

[2019-07-24 06:52] thphuoc commented on #142
Cannot use an annotation in library module to bind to a resource in app module. Because, All of library will be build and process annotation before build app module. So that, the resource id always is 0.
Another workaround:
Step 1: Disable all of libraries that poiting to resource: Butterknife, PlaceHolderView,...
Step 2: Build app module and copy R.java to the same package name in library module

[2019-07-24 08:45] janishar commented on #162
refer this for help: https://blog.mindorks.com/modifying-android-tinder-swipe-view-example-to-support-auto-resize

[2019-07-24 08:46] janishar commented on #161
yes scrollview feature is not built into this SwipePlaceHolderView

[2019-07-24 08:46] #161 closed, assigned to nobody

[2019-07-24 08:49] janishar commented on #160
Use SwipeDirectionalView: refer doc -> https://janishar.com/PlaceHolderView/docs/sdv-intro.html

[2019-07-24 08:54] janishar commented on #158
This feature is in the todo list currently

[2019-08-01 07:14] SushantPatekar opened #163 "How to add tablayout in ExpandablePlaceHolderView"
@janishar
I added Tab layout into HeaderView of ExpandablePlaceHolderView.
Once I expand //collapse ExpandablePlaceHolderView.It results tabs are getting added into headerview.

`

@Parent
@SingleTop
@Layout(R.layout.adapter_tablayout_hcm)
public class HCM_HeaderView {
    private static String TAG = "HCM_HeaderView";
    private Context mContext;
    private String mHeaderText;
    private ArrayL

[2019-08-06 08:51] jpcab commented on #162
hi janishar, i tried the blog but it won't work well on fragments, it shrinks the view.

[2019-08-20 16:02] albert0m commented on #110
+1

[2019-08-23 04:16] thphuoc opened #165 "Need Support DiffUtil"
In Android have DiffUtil is very cool. Can you guys support this one in the library

[2019-10-01 14:38] asadasif220 opened #167 "Didn't find class "android.support.v7.widget.CardView" on path"
i have followed your tutorial and implemented everything as it was told but i am having this error, can you please help me with this.
thankyou.

here is the Log screenshot:
<img width="839" alt="log" src="https://user-images.githubusercontent.com/47866674/65970921-3ae7d580-e41c-11e9-89f0-2a0aac5e0ba4.png">

which points to this line in main activity:
<img width="554" alt="redirect" src="https://us

[2019-10-12 23:59] tsukishiroi commented on #74
Hi @janishar i need to implement an onclick on childs items  of ExpandablePlaceHolderView, how can i do that? the link you give before does not work, thans for your time

[2019-11-11 07:38] Chandrakala14 opened #168 "How to set the text based on the position"
HI,

I need to replace the card data based on the position,

 Here I am able to get the position and unable to set the data based on the position

**Below is my code :**

[code]

Please help me to solve this.

[2019-11-24 09:13] 8debug opened #169 "has no Pulldown refresh effect？"
I cannot find in this project about Pulldown refresh effect

help me, thanks very much

[2019-12-11 02:42] SeakyLuo opened #170 "How to display a fragment inside the view?"
The layout for my view is very simple:

[code]

I want to use the FrameLayout to display a fragment, so I tried this but it seems that the FragmentManager could not find the dialog_food_card_frame:

[code]

How do I display the fragment?

[2020-02-03 14:32] serifkazan opened #171 "How to load all items under a parent"
I want to load all the child items while parent expanded. But it shows some filled some empty.
How can i load all? thanks very much

[2020-02-23 23:05] thanhpd-teko opened #172 "kotlin.UninitializedPropertyAccessException: lateinit property tvTitle has not been initialized"
- PlaceHolderView: 1.0.3
- Kotlin: 1.3.61

`

@Layout(R.layout.view_room_contract_item)
class RoomContractItemView(
    val context: Context,
    val contract: RoomContractsQuery.RoomContract,
    val listener: ContractItemListener
) {

    @View(R.id.tvContractItemTitle)
    lateinit var tvTitle: TextView

    @View(R.id.tvContractItemRoom)
    lateinit var tvRoom: TextView

    @View(R.id.tvCont

[2020-02-25 22:51] thanhpd-teko commented on #146
Hi, did you find solution for this issue?

[2020-02-29 00:58] thanhpd-teko commented on #172
@janishar Please help, or guide me how to fix it!

[2020-02-29 10:43] janishar commented on #172
@thanhpd-teko Verify
1. Check that `@Layout` has 'L' in Caps
2. import of the `@Layout` and `@View` should be from placeholderview package.
3. Also, check kapt is used for annotation processing
[code]

[2020-03-02 23:59] thanhpd-teko commented on #172
@janishar Sorry for late reply. Below is full of my view file.
The problem is that it happened occasionally when developing, not all the time (after cleanup project it works for a while, then the error occured again...)
[code]
Output error:
`
2020-03-03 06:47:23.975 18043-18043/com.frovis.vuitro.debug E/UncaughtException: java.lang.NullPointerException: Attempt to invoke virtual method 'void andro

[2020-03-03 03:14] janishar commented on #172
The error is in `TextItemView` can you share that class as well

[2020-03-03 21:48] thanhpd-teko commented on #172
@janishar  Here you are.
TextItemView
[code]
text_item.xml
[code]
Fragment
[code]

[2020-03-04 05:03] janishar commented on #172
Everything's appears to be correct. I am not able to find the issue with these references.

[2020-03-04 13:10] thanhpd-teko commented on #172
Thank  you. I will investigate, find out more evidence about this issue. I will let you know if i find anything intesting.

[2020-03-04 13:26] thanhpd-teko commented on #172
@janishar
More information about error: E/UncaughtException: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.View.setOnClickListener(android.view.View$OnClickListener)' on a null object reference
Below is generated class:
[code]

[2020-03-06 04:01] hoanghiephui commented on #146
Wow

[2020-03-06 04:02] hoanghiephui commented on #146
Wow

[2020-03-06 04:02] hoanghiephui commented on #146
Wow

[2020-03-06 06:33] janishar commented on #172
@thanhpd-teko If you could send me the zip of your project to my email janishar.ali@gmail.com then I will be able to run it and debug.

[2020-03-06 06:37] janishar commented on #146
@GoLok56 do try replace this
[code]
with this one
[code]
similarly for other views

[2020-03-06 06:38] janishar commented on #146
What is the Android Studio version you are using? @GoLok56
Try to invalidate cache and run

[2020-03-06 06:44] satadii11 commented on #146
it has been 1.5 years since the issue if I'm not mistaken I was using java instead of Kotlin just for this class. it solved the problem.

[2020-03-06 06:44] #146 closed, assigned to nobody

[2020-03-15 07:15] thanhpd-teko commented on #172
Hi @janishar , please check email. Thanks.

[2020-04-20 11:20] J6ey commented on #169
Maybe you're looking for this:

https://developer.android.com/reference/android/support/v4/widget/SwipeRefreshLayout

[2020-06-04 09:49] qubourse opened #173 "Ui freeze when adding view from an asynchronous call"
First, i'm sorry for my bad English.
I'm using the PlaceHolderView for the tinder like effect. It works fine until I try to add a card from an asynchronous method. Even when using "runOnUIThread()", my screen freezes although the application keeps running in the background.

[2020-06-08 16:50] #173 closed, assigned to nobody

[2020-07-23 21:50] StudFL opened #174 "Cannot load profile pictures for the Tinder like swap pictures."
Hello I downloaded and started the App. However, when I have the Tinder like swap view with the name and the University I do not see profile pictures. I only see the blue background. Do I have to declare anywhere that I need profile pictures from the given URLs for example? Or is it a bug?

[2020-07-28 04:59] hayahyts commented on #172
@janishar The same thing happened to me. I just had to *Clean Project* and Build again

[2020-09-20 12:38] CloseFile commented on #142
Thank you sir. This method work for me.
But AS now not show R.java. Need decompile apk and get R.java file.
And after some changes in res files AS change some id rebuild and will be crashed (

[2020-09-30 13:35] CloseFile commented on #142
Found a working solution. Change module lib to dynamic future module.

[2021-02-03 11:09] manjulapg opened #175 "How to use PlaceHolderview with android library , i am getting resource not found exception."

[2021-02-18 04:46] #29 closed

[2021-02-23 13:36] ZeeOne opened #176 "Resource IDs as annotations non-final"
Got the following error: Resource IDs will be non-final in Android Gradle Plugin version 5.0, avoid using them as annotation attributes

Was wondering if this will be an issue in the future - and what should we do to fix the problem.

[2021-04-05 07:55] #172 closed, assigned to nobody

[2021-06-15 10:34] hessio commented on #108
I am unable to get this library to work, I have followed the steps mentioned above about rebuilding, restarting, changing the dependencies, etc.

[2021-09-28 05:55] aayush0208 opened #177 "use with private is not supported"
class PHProductSelectQuantity(var context: Context) {
 @Position
     var index= 0

}

when creating position variable getting below error:
com.mindorks.placeholderview.compiler.core.IllegalUseException: This library only support annotations on public, protected or local, use with private is not supported
public final class PHProductSelectQuantity {

[2021-09-28 09:11] aayush0208 commented on #177
@JvmField
    @Position
    var position: Int = 0;

found this in docs, now closing the issue

[2021-09-28 09:11] #177 closed, assigned to nobody

[2021-10-06 20:13] singh-aman-deep commented on #81
Go to **SwipePlaceHolderView** in following package **com.mindorks.placeholderview**
Search for **onResetView()** overridden method and add **swipeViewBinder.setOnTouch();** at the bottom of this method
It will start working

[2022-05-19 16:01] TechNov opened #178 "Empty method with @Click annotation make app crash: NullPointerException"
Hi, When you declare a method  that content is empty in the ChildView,
when you click on the parent item, Appp crash.

[code]

this bug took me one debugging  day before find the problem.

this is my method that causes this issue:

[code]

[2022-07-25 08:34] SaurabhGaddelpalliwar commented on #151
Sir i am using VideoView instead of ImageView ,I start the videoview at SwipeHead but its play 3 position video not first position, please help as soon as possible. And using only Image its work proper but when I use videoView its behavior  changes, not playing first video, its play 3 position video and swipe also 3 position video not first. please help me out of this kind of issue

[2022-08-15 07:55] EhsanSetayesh opened #179 "How to Expand all items on first load ?"